.library-pane {

  .panel-heading {
    padding: @smallPadding @smallPadding*3;

    .panel-title {
      padding-top: 5px;
      font-size: 20px;
    }

    button {
      margin-top: 2px;
    }
  }

  .panel-body {
    padding: 0;

    .list-group {
      .list-group-item {
        border-right: none;
        border-left: none;
        border-radius: 0;
      }
    }
  }
}