.library-pane {

  height: 100%;
  box-sizing: border-box;


  .panel-heading {
    height: 45px;
    padding: @smallPadding @smallPadding*3;

    .panel-title {
      padding-top: 5px;
      font-size: 20px;
    }

    button {
      margin-top: 2px;
    }
  }

  .panel-body {
    padding: 0;
    height: calc(~"100% - 45px");
    box-sizing: border-box;

    .list-group {
      height: 100%;
      overflow: auto;
      box-sizing: border-box;

      .list-group-item {
        border-right: none;
        border-left: none;
        border-radius: 0;

        &:first-child {
          border-top: none;
        }


        &.active {
          background-color: #e7e7e7;
          border-color: #e7e7e7;
          color: @brand-primary;

          p {
            color: @brand-primary;
          }


          &:focus {
            border-color: #e7e7e7;
          }

        }
      }


    }
  }
}