<ng-include src="'app/home/alerts/error/errorModal.tpl.html'"></ng-include>

<div class="pipeline-home-loading" show-loading="showLoading"></div>

<ng-include src="'app/home/header/header.tpl.html'"></ng-include>

<div class="home-bg-splitter" ng-cloak
     ng-class="{'comfortable-density': $storage.displayDensity === pipelineConstant.DENSITY_COMFORTABLE,
                   'cozy-density': $storage.displayDensity === pipelineConstant.DENSITY_COZY,
                   'compact-density': $storage.displayDensity === pipelineConstant.DENSITY_COMPACT}">
  <bg-splitter orientation="horizontal" class="library-splitter" ng-class="{'hide-library-panel': true}">

    <bg-pane min-size="0">
      <!--ng-include src="'app/home/library/library.tpl.html'"></ng-include-->
    </bg-pane>

    <bg-pane min-size="0">

      <bg-splitter orientation="horizontal" class="stage-library-splitter"
                   ng-class="{'hide-stage-library-panel': !pipelineConfig || !$storage.hideStageLibraryPanel || $storage.maximizeDetailPane || isPipelineRunning || previewMode || snapshotMode}"
                   ng-cloak>

        <bg-pane min-size="0">
          <bg-splitter orientation="vertical"
                       ng-class="{'minimize-pane2': $storage.minimizeDetailPane, 'maximize-pane2': $storage.maximizeDetailPane}">

            <bg-pane min-size="0">
              <ng-include src="'app/home/graph/graph.tpl.html'"></ng-include>
            </bg-pane>

            <bg-pane min-size="0">
              <ng-include ng-if="pipelineConfig" src="'app/home/detail/detail.tpl.html'"></ng-include>
              <ng-include ng-if="pipelineConfig" src="'app/home/preview/preview.tpl.html'"></ng-include>
              <ng-include ng-if="pipelineConfig" src="'app/home/snapshot/snapshot.tpl.html'"></ng-include>
            </bg-pane>
          </bg-splitter>
        </bg-pane>

        <bg-pane min-size="0">
          <ng-include ng-if="executionMode" src="'app/home/stageLibrary/stageLibrary.tpl.html'"></ng-include>
        </bg-pane>

      </bg-splitter>

    </bg-pane>

  </bg-splitter>
</div>
