.preview-pane {
  height: calc(~"100% - 11px");
  margin-bottom: 0;
  border-bottom: none;

  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;

  .preview-page-detail {
    padding-right: @defaultPadding;
  }

  .panel-heading {
    padding: @smallPadding @smallPadding*3;

    .panel-title {
      padding-top: @smallPadding;
      padding-right: @smallPadding;
    }

    .detail-name-dropdown {
      .btn {
        padding-top: @smallPadding * 0.7;
        padding-bottom: 0;
        padding-left: @smallPadding * .5;
      }
    }

    .preview-toolbar {
      div {
        padding-left: @smallPadding;
      }
    }

    .size-toolbar {
      span {
        padding-top: @smallPadding * 1.3;
        padding-left: @defaultPadding;
        color: #777;

        &:hover {
          color: @brand-primary;
        }
      }
    }

  }

  .panel-body {
    padding: 0;
    height: calc(~"100% - 40px");
    overflow: auto;

    .preview-tabs-left {
      height: 100%;
      padding: 0 @smallPadding * 3;

      >.nav-tabs {
        min-height: 250px;
        padding-top: @smallPadding * 3;
      }

      >.tab-content {
        padding-top: @smallPadding * 3;
      }
    }

    .pipeline-preview {
      .preview-heading {
        padding: @defaultPadding @defaultPadding;
        margin-left: 0px;
        margin-right: 0px;
      }

      th, td {
        padding-left: @smallPadding*3;

        &.from-stage {
          select {
            color: @default-pipeline-graph-start-node-color;
          }
        }

        &.to-stage {
          select {
            color: @default-pipeline-graph-end-node-color;
          }
        }


        label {
          margin-bottom: 0px;
          font-weight: normal;
        }

        .label-danger, .label-warning {
          font-size: 90%;
        }

        .dirty-icon {
          font-size: 8px;
          position: relative;
          top: -5px;
          color: gray;
        }

        &.no-records {
          text-align: center;
          padding-top: @defaultPadding * 4;
        }

        .delete-preview-record {
          color: @brand-danger;
          padding-right: @defaultPadding * 2;
          cursor: pointer;
        }

      }
    }
  }
}