<div class="panel panel-default preview-pane"
     ng-controller="PreviewController"
     ng-show="previewMode">

  <div class="panel-heading clearfix">
    <h3 class="panel-title pull-left">{{'admin.previewPane.previewingStage' | translate}} {{detailPaneConfig.uiInfo.label}} </h3>

    <div class="pull-right size-toolbar">
      <span class="glyphicon pointer"
            ng-hide="maximizeDetailPane"
            ng-class="{'glyphicon-minus' : !minimizeDetailPane , 'glyphicon-resize-full': minimizeDetailPane}"
            ng-click="onMinimizeDetailPane()"></span>
      <span class="glyphicon pointer"
            ng-hide="minimizeDetailPane"
            ng-class="{'glyphicon-fullscreen' : !maximizeDetailPane , 'glyphicon-resize-small': maximizeDetailPane}"
            ng-click="onMaximizeDetailPane()"></span>
    </div>

    <div class="pull-right preview-toolbar">

      <div ng-if="previousStageInstances.length > 1" class="dropdown pull-left">
        <button type="button" class="btn btn-primary btn-sm"
                data-toggle="dropdown">
          <span class="glyphicon glyphicon-arrow-left"></span>
          <span translate="global.form.previousStage">Previous Stage</span>
        </button>
        <ul class="dropdown-menu" role="menu" class="pull-left">
          <li ng-repeat="previousStageInstance in previousStageInstances">
            <a href="#" ng-click="previousStagePreview(previousStageInstance)">
              {{previousStageInstance.uiInfo.label}}
            </a>
          </li>
        </ul>
      </div>

      <div ng-if="previousStageInstances.length <= 1" class="pull-left">
        <button type="button" class="btn btn-primary btn-sm"
                ng-click="previousStagePreview(previousStageInstances[0])"
                ng-disabled="previousStageInstances.length === 0">
          <span class="glyphicon glyphicon-arrow-left"></span>
          <span translate="global.form.previousStage">Previous Stage</span>
        </button>
      </div>


      <div class="pull-left">
        <button type="button" class="btn btn-primary btn-sm"
                ng-click="revertChanges()"
                ng-show="previewDataUpdated">
          <span class="fa fa-undo"></span>
          <span translate="global.form.revertChanges">Revert Changes</span>
        </button>
      </div>

      <div class="pull-left">
        <button type="button" class="btn btn-primary btn-sm center-block"
                ng-disabled="detailPaneConfig.uiInfo.stageType !== 'PROCESSOR'"
                ng-click="stepPreview(detailPaneConfig, stagePreviewData.input)">
          <span class="glyphicon glyphicon-refresh"></span>
          <span translate="global.form.step">Step</span>
        </button>
      </div>

      <div ng-if="nextStageInstances.length > 1" class="dropdown pull-right">
        <button type="button" class="btn btn-primary btn-sm"
                data-toggle="dropdown">
          <span translate="global.form.nextStage">Next Stage</span>
          <span class="glyphicon glyphicon-arrow-right"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="nextStageInstance in nextStageInstances">
            <a href="#" ng-click="nextStagePreview(nextStageInstance, stagePreviewData.output)">
              {{nextStageInstance.uiInfo.label}}
            </a>
          </li>
        </ul>
      </div>

      <div ng-if="nextStageInstances.length <= 1" class="pull-left">
        <button type="button" class="btn btn-primary btn-sm"
                ng-disabled="nextStageInstances.length === 0"
                ng-click="nextStagePreview(nextStageInstances[0], stagePreviewData.output)">
          <span translate="global.form.nextStage">Next Stage</span>
          <span class="glyphicon glyphicon-arrow-right"></span>
        </button>
      </div>

    </div>


  </div>
  <div class="panel-body">
    <ng-include src="'app/home/preview/previewBody.tpl.html'"></ng-include>
  </div>

</div>