<div class="row">
  <bg-splitter orientation="vertical">

    <bg-pane min-size="100" class="panel panel-default canvas-pane">
      <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left">{{'admin.header.pipelineFlow' | translate}}</h3>

        <div class="btn-group pull-right issues-dropdown" ng-show="issuesLength > 0">
          <button class="btn btn-danger btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
            <span class="glyphicon glyphicon-warning-sign"></span>
            Issues <span class="badge alert-danger" ng-bind="issuesLength"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation" class="dropdown-header" ng-repeat-start="(key, value) in pipelineConfig.issues">
              {{key}}
            </li>
            <li role="presentation" ng-repeat="issue in value">
              <a role="menuitem" tabindex="-1" href="#">{{issue}}</a>
            </li>
            <li ng-repeat-end role="presentation" class="divider" ng-if="!$last"></li>
          </ul>
        </div>

        <div class="pull-right">
          <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-eye-open"></span> {{'admin.header.preview' | translate}}
          </button>
          <button type="button" class="btn btn-default btn-sm" ng-hide="isPipelineRunning" ng-disabled="!pipelineConfig.valid">
            <span class="glyphicon glyphicon-play"></span> {{'admin.header.start' | translate}}
          </button>
          <button type="button" class="btn btn-default btn-sm" ng-show="isPipelineRunning">
            <span class="glyphicon glyphicon-stop"></span> {{'admin.header.stop' | translate}}
          </button>
        </div>

        <div class="btn-group pull-right stage-dropdown">
          <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
            <span class="glyphicon glyphicon-screenshot"></span>
            Add Target
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation" ng-repeat="stageLibrary in targets">
              <a role="menuitem" tabindex="-1" href="#" ng-click="addStage(stageLibrary)">{{stageLibrary.label}}</a>
            </li>
          </ul>
        </div>

        <div class="btn-group pull-right stage-dropdown">
          <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
            <span class="glyphicon glyphicon-cog"></span>
            Add Processor
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation" ng-repeat="stageLibrary in processors">
              <a role="menuitem" tabindex="-1" href="#" ng-click="addStage(stageLibrary)">{{stageLibrary.label}}</a>
            </li>
          </ul>
        </div>

        <div class="btn-group pull-right stage-dropdown">
          <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
            <span class="glyphicon glyphicon-list-alt"></span>
            Add Source
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation" ng-repeat="stageLibrary in sources">
              <a role="menuitem" tabindex="-1" href="#" ng-click="addStage(stageLibrary)">{{stageLibrary.label}}</a>
            </li>
          </ul>
        </div>


      </div>
      <div class="panel-body">
        <pipeline-graph graph-data="pipelineConfig" ></pipeline-graph>
      </div>
    </bg-pane>

    <bg-pane min-size="50" class="panel panel-default detail-pane">
      <div class="panel-heading">
        <h3 class="panel-title">{{detailPaneConfig.name || detailPaneConfig.instanceName}}</h3>
      </div>
      <div class="panel-body">


        <div class="tabbable tabs-left">

          <ul class="nav nav-tabs">
            <li class="active">
              <a showtab="" href="#general" data-toggle="tab">
                General
              </a>
            </li>
            <li>
              <a showtab="" href="#configuration" data-toggle="tab">
                {{'admin.detailPane.configuration.title' | translate}}
              </a>
            </li>
          </ul>

          <div class="tab-content">

            <div class="tab-pane active" id="general">
              <form class="form-horizontal" role="form">
                <div class="form-group" ng-repeat="configDefinition in detailPaneGeneralConfigDefn">
                  <label class="col-sm-2 control-label">{{configDefinition.label}}</label>

                  <div class="col-sm-6" ng-if="configDefinition.name !== 'description'">
                    <input type="text" class="form-control" ng-model="detailPaneConfig[configDefinition.name]">
                  </div>

                  <div class="col-sm-6" ng-if="configDefinition.name === 'description'">
                    <textarea class="form-control" ng-model="detailPaneConfig[configDefinition.name]"></textarea>
                  </div>
                </div>
              </form>
            </div>

            <div class="tab-pane" id="configuration">
              <form class="form-horizontal" role="form">
                <div class="form-group" ng-repeat="configDefinition in detailPaneConfigDefn.configDefinitions">
                  <label class="col-sm-2 control-label">{{configDefinition.label}}</label>

                  <div class="col-sm-6" ng-if="configDefinition.type === 'BOOLEAN'">
                    <input type="checkbox" ng-model="detailPaneConfig.configuration[$index].value">
                  </div>

                  <div class="col-sm-6" ng-if="configDefinition.type === 'INTEGER'">
                    <input type="number" class="form-control" ng-model="detailPaneConfig.configuration[$index].value">
                  </div>

                  <div class="col-sm-6" ng-if="!configDefinition.listValues && configDefinition.type === 'STRING'">
                    <input type="text" class="form-control" ng-model="detailPaneConfig.configuration[$index].value">
                  </div>

                  <div class="col-sm-6"
                       ng-if="configDefinition.listValues && configDefinition.listValues.length && configDefinition.type === 'STRING'">
                    <select class="form-control" ng-model="detailPaneConfig.configuration[$index].value">
                      <option ng-repeat="listValue in configDefinition.listValues" value="{{listValue.value}}">
                        {{listValue.label}}
                      </option>
                    </select>
                  </div>
                </div>
              </form>
            </div>

          </div>
        </div>
        <!-- /tabs -->
      </div>
    </bg-pane>
  </bg-splitter>
</div>

