.btn-create-pipeline {
 margin: 200px 45%;
}

.panel {
  border: 0px;
}

.canvas-pane {
  margin-top: 60px;

  .panel-heading {
    .panel-title {
      padding-top: 2px;
      font-size: 20px;
    }

    .issues-dropdown {

      li {
        a {
          white-space: normal;
          width: 400px;
        }

        &.dropdown-header {
          text-transform: capitalize;
        }
      }


      .badge {
        color: #d9534f;
        background-color: #fff;
      }
    }

    .btn {
      margin-left: @defaultPadding;
    }

    .stage-dropdown {
      padding-right: @smallPadding;
    }

  }

  .panel-body {
    padding: 0;
    height: calc(~"100% - 114px");
    overflow: auto;

    .alert {
      margin-bottom: 0;
    }

    .draggable {
      cursor: pointer;
    }
  }
}

.detail-pane {
  height: calc(~"100% - 11px");
  margin-bottom: 0;
  border-bottom: none;

  .preview-page-detail {
    padding-right: @defaultPadding;
  }

  .panel-heading {
    .preview-heading {
      div {
        padding-left: @defaultPadding;
      }

    }
  }

  .panel-body {
    padding: 0;
    height: calc(~"100% - 40px");
    overflow: auto;

    .tabbable {
      height: 100%;
      padding: 0 @smallPadding * 3;

      .nav-tabs {
        height: 250px;
        padding-top: @smallPadding * 3;
      }

      .tab-content {
        padding-top: @smallPadding * 3;

        input[type=checkbox] {
          margin-top: 11px;
        }

        .attribute-type {
          height: 24px;
        }

        .form-group .help-block {
          display: none;
        }

        .form-group.has-error .help-block {
          display: block;
        }

        .table {
          input[type=checkbox] {
            margin-top: 0;
          }
        }
      }
    }

    .pipeline-preview {
      .preview-heading {
        padding: @defaultPadding @defaultPadding;
        margin-left: 0px;
        margin-right: 0px;
      }

      .preview-list {

        padding-left: @smallPadding * 3;

        .preview-list-item {
          list-style: none;
          padding: @smallPadding/2;

          .field-name {
            display: inline-block;
            min-width: 100px;
          }

          .field-value {
            padding-left: @defaultPadding;


            &.LONG, &.INTEGER {
              color: blue;
            }

            &.STRING {
              color: #008000;
            }
          }
        }
      }

      th, td {
        padding-left: @smallPadding*3;


        label {
          margin-bottom: 0px;
          font-weight: normal;
        }

        .dirty-icon {
          font-size: 8px;
          position: relative;
          top: -5px;
          color: gray;
        }

        .dirty {
          color: red !important;
        }

      }
    }
  }
}


/**
 * To fix bug in json-formatter
 */
.json-formatter-row .date {
  background-color: inherit;
}


/**
 * Import Modal dialog
 */

.import-modal-form {

  .btn-file {
    position: relative;
    overflow: hidden;

    input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      font-size: 100px;
      text-align: right;
      filter: alpha(opacity=0);
      opacity: 0;
      outline: none;
      background: white;
      cursor: inherit;
      display: block;
    }
  }

  input[readonly] {
    background-color: white !important;
    cursor: text !important;
  }
}

