<!doctype html>
<html lang="en" ng-app="pipelineAgentApp">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Sample Spring boot angularjs application.">
  <title ng-bind="common.title">StreamSets | Data In Motion</title>
  <base href="/" />
  <link rel="icon" type="image/png" href="assets/favicon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
  <link rel="stylesheet" type="text/css" href="/<%= file %>" /><% }); %>

  <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
  <script type="text/javascript" src="/<%= file %>"></script><% }); %>

</head>
<body>

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="header-container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only" translate="global.menu.toggleNavigation">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="logo" href="/">
        <img src="/assets/logo.png" />
      </a>
    </div>
    <div class="collapse navbar-collapse">

      <ul class="nav navbar-nav navbar-right" ng-cloak>
        <li class="pipelineAgent-status" ng-hide="common.saveOperationInProgress">
          <span class="glyphicon glyphicon-ok-circle"></span>
          <span translate="global.messages.info.saveOperationInProgress"></span>
        </li>

        <li class="pipelineAgent-status" ng-show="common.saveOperationInProgress"
            translate="global.messages.info.savingConfiguration">
        </li>

        <li>
          <a href="#" ng-click="common.importPipelineConfig()">
            <span translate="global.menu.import">Import</span>
          </a>
        </li>

        <li>
          <a href="#" ng-click="common.exportPipelineConfig()">
            <span translate="global.menu.export">Export</span>
          </a>
        </li>

        <li>
          <a href="#" ng-click="common.logout()">
            <span translate="global.menu.logout">Logout</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container123">
  <div ng-view>
  </div>
</div>

</body>
</html>