<div class="metric-tab">
  <form class="form-horizontal" role="form"
        ng-class="{'form-group-sm': ($storage.displayDensity === pipelineConstant.DENSITY_COZY || $storage.displayDensity === pipelineConstant.DENSITY_COMPACT)}"
        name="{{detailPaneConfig.instanceName || 'pipeline'}}">

    <button type="button" class="btn btn-primary btn-sm add-button"
            ng-click="createMetricRule()">
      <i class="fa fa-plus"></i> {{'global.form.add' | translate}}
    </button>

    <table class="table">
      <thead>
      <tr>
        <th class="col-md-1">{{'home.detailPane.rulesTab.enabled' | translate}}</th>
        <th class="col-md-3">{{'home.detailPane.rulesTab.label' | translate}}</th>
        <th class="col-md-3">{{'home.detailPane.rulesTab.group' | translate}}</th>
        <th class="col-md-2">{{'home.detailPane.rulesTab.metricType' | translate}}</th>
        <th class="col-md-4">{{'home.detailPane.rulesTab.condition' | translate}}</th>
        <th></th>
      </tr>
      </thead>
      <tbody ng-hide="showLoading">

      <tr ng-repeat="metricRule in metricDefinitions = (pipelineRules.metricDefinitions | filter: {lane: selectedObject.outputLane})">

        <td>
          <input type="checkbox" name="enabled{{$index}}"
                 ng-model="metricRule.enabled">
        </td>

        <td>
            <textarea class="form-control" name="alertText{{$index}}" rows="1"
                      placeholder="{{'home.detailPane.rulesTab.labelPlaceholder' | translate}}"
                      ng-model="metricRule.label"
                      ng-required="true"></textarea>
        </td>

        <td>
          <input type="text" class="form-control" name="group{{$index}}"
                 placeholder="{{'home.detailPane.rulesTab.groupPlaceholder' | translate}}"
                 ng-model="metricRule.metricGroup"
                 ng-required="true">
        </td>

        <td>
          <select class="form-control" name="metricType{{$index}}"
                  ng-model="metricRule.metricType">
            <option value="METER">{{'home.detailPane.rulesTab.meter' | translate}}</option>
            <option value="HISTOGRAM">{{'home.detailPane.rulesTab.histogram' | translate}}</option>
          </select>
        </td>

        <td class="expression-language">
          <input type="text" class="form-control" name="predicate{{$index}}"
                 placeholder="{{'home.detailPane.rulesTab.condition' | translate}}"
                 ng-model="metricRule.predicate"
                 ng-required="true">
        </td>

        <td>
          <div class="col-xs-1 btn-group" role="group" aria-label="Default button group">
            <button type="button" class="btn btn-danger btn-sm"
                    tooltip-placement="bottom" tooltip="{{'home.detailPane.rulesTab.deleteRuleTooltip' | translate}}"
                    ng-click="removeRule(pipelineRules.metricDefinitions, $index)">
              <i class="fa fa-minus pointer"></i>
            </button>
          </div>
        </td>

      </tr>

      <tr ng-if="metricDefinitions.length === 0">
        <td colspan="3" class="no-records text-center"
            translate="home.detailPane.rulesTab.noMetricRules">No Metric Rules to view.</td>
      </tr>

      </tbody>
    </table>

    <div show-loading="showLoading"></div>

  </form>
</div>