# Git
*.rej
*.orig

# Maven
target

# VS Code
.vscode
**/.factorypath

# IntelliJ
*.iml
*.ipr
*.iws
.idea

# Eclipse
.classpath
.project
.settings

#vim
*.swp

#Node.js
node
node_modules
npm-debug.log

#Oxygen
__MACOSX

#OSX
.DS_Store

.gitreview

# maven shade
dependency-reduced-pom.xml

container/runInfo
container/var
datacollector-ui/package-lock.json
.python-version
.java-version
