.conceptG text{
  pointer-events: none;
}

marker{
  fill: #CCCCCC;
}

g.conceptG rect{
  fill: #CCCCCC;
  stroke: #8A8787;
  stroke-width: 2px;
}

g.conceptG:hover rect{
  fill: #8A8787;
}

g.selected rect{
  fill: #8A8787;
}
g.selected:hover rect{
  fill: #8A8787;
}


g.selected text{
  fill: white;
}

g.conceptG:hover text{
  fill: white;
}

path.link {
  fill: none;
  stroke: #CCCCCC;
  stroke-width: 6px;
  cursor: default;
}

path.link:hover{
  stroke: #8A8787;
}

g.connect-node rect{
  fill: #BEFFFF;
}

path.link.hidden{
  stroke-width: 0;
}

path.link.selected {
  stroke: #8A8787;
}
