<form class="form-horizontal preview-config-tab"
      ng-class="{'form-group-sm': $storage.displayDensity === pipelineConstant.DENSITY_COZY || $storage.displayDensity === pipelineConstant.DENSITY_COMPACT}"
      role="form" name="stageGeneralInfo">

  <div class="form-group">
    <label class="col-lg-3 col-md-4 control-label" translate="home.previewPane.previewSource">Preview Source</label>
    <div class="controls col-md-7">
      <select class="form-control"
              name="previewSource"
              ng-model="pipelineConfig.uiInfo.previewConfig.previewSource">
        <option value="{{pipelineConstant.CONFIGURED_SOURCE}}"
                ng-selected="pipelineConfig.uiInfo.previewConfig.previewSource === pipelineConstant.CONFIGURED_SOURCE">
          {{'home.previewPane.configuredSource' | translate}}</option>
        <option value="{{pipelineConstant.SNAPSHOT_SOURCE}}"
                ng-selected="pipelineConfig.uiInfo.previewConfig.previewSource === pipelineConstant.SNAPSHOT_SOURCE">
          {{'home.previewPane.snapshotSource' | translate}}</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-3 col-md-4 control-label" translate="home.previewPane.batchSize">Preview Batch Size</label>
    <div class="controls col-md-1">
      <input type="text" class="form-control" name="batchSize"
             ng-disabled="isPipelineRunning"
             ng-model="pipelineConfig.uiInfo.previewConfig.batchSize">
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-3 col-md-4 control-label" translate="home.previewPane.timeout">Preview Timeout</label>
    <div class="controls col-md-1">
      <input type="text" class="form-control" name="timeout"
             ng-disabled="isPipelineRunning"
             ng-model="pipelineConfig.uiInfo.previewConfig.timeout">
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-3 col-md-4 control-label">
      {{'home.previewPane.writeToDestinations' | translate}}
      <i class="fa fa-info-circle help-icon"
         tooltip-placement="right"
         tooltip-append-to-body="true"
         tooltip="{{'home.previewPane.writeToDestinationsTooltip' | translate}}"
         tooltip-trigger="mouseenter"></i>
    </label>
    <div class="controls col-md-1">
      <input type="checkbox" name="writeToDestinations"
             ng-disabled="isPipelineRunning"
             ng-model="pipelineConfig.uiInfo.previewConfig.writeToDestinations">
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-3 col-md-4 control-label">
      {{'home.previewPane.executeLifecycleEvents' | translate}}
      <i class="fa fa-info-circle help-icon"
         tooltip-placement="right"
         tooltip-append-to-body="true"
         tooltip="{{'home.previewPane.executeLifecycleEventsTooltip' | translate}}"
         tooltip-trigger="mouseenter"></i>
    </label>
    <div class="controls col-md-1">
      <input type="checkbox" name="executeLifecycleEvents"
             ng-disabled="isPipelineRunning"
             ng-model="pipelineConfig.uiInfo.previewConfig.executeLifecycleEvents">
    </div>
  </div>


  <div class="form-group">
    <label class="col-lg-3 col-md-4 control-label">
      {{'home.previewPane.showHeader' | translate}}
    </label>
    <div class="controls col-md-1">
      <input type="checkbox" name="showHeader"
             ng-disabled="isPipelineRunning"
             ng-model="pipelineConfig.uiInfo.previewConfig.showHeader">
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-3 col-md-4 control-label">
      {{'home.previewPane.showFieldType' | translate}}
    </label>
    <div class="controls col-md-1">
      <input type="checkbox" name="showFieldType"
             ng-disabled="isPipelineRunning"
             ng-model="pipelineConfig.uiInfo.previewConfig.showFieldType">
    </div>
  </div>

  <div class="form-group" ng-if="snapshotsInfo && snapshotsInfo.length && pipelineConfig.uiInfo.previewConfig.previewSource === pipelineConstant.SNAPSHOT_SOURCE">
    <label class="col-lg-3 col-md-4 control-label" translate="home.previewPane.snapshotSource">Snapshot</label>
    <div class="controls col-md-7">
      <select class="form-control"
              name="snapshotInfo"
              ng-model="pipelineConfig.uiInfo.previewConfig.snapshotInfo"
              ng-options="snapshotInfo.id group by snapshotInfo.name for snapshotInfo in snapshotsInfo track by snapshotInfo.timeStamp">
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-3 col-md-4 control-label">
      {{'home.previewPane.rememberMe' | translate}}
    </label>
    <div class="controls col-md-1">
      <input type="checkbox" name="rememberMe"
             ng-disabled="isPipelineRunning"
             ng-model="pipelineConfig.uiInfo.previewConfig.rememberMe">
    </div>
  </div>

</form>
