<script type="text/ng-template" id="shutdownModalContent.html">
  <form class="import-modal-form" role="form" ng-submit="shutdown()">
    <div class="modal-header">
      <button type="button" class="close" ng-click="cancel()">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
      </button>
      <h3 class="modal-title" translate="home.shutdown.headerLabel">Shutdown Collector</h3>
    </div>
    <div class="modal-body">
      <div ng-hide="isShutdownSucceed">
        <div class="alert alert-danger alert-dismissible" role="alert"
             ng-repeat="issue in issues">

          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          {{issue}}
        </div>

        <div class="form-group">
          <input type="text" class="form-control" required
                 focus-me="true"
                 placeholder="{{'home.shutdown.secretPlaceholder' | translate}}" ng-model="secret">
        </div>
      </div>

      <div class="alert alert-danger alert-dismissible" role="alert"
           ng-show="isShutdownSucceed"
           translate="home.shutdown.successMessage">
      </div>

    </div>
    <div class="modal-footer" ng-hide="isShutdownSucceed">
      <button type="reset" class="btn btn-default" ng-click="cancel()" translate="global.form.cancel">
        Cancel
      </button>
      <button type="submit" class="btn btn-primary" translate="global.menu.admin.shutdown">
        Shutdown
      </button>
    </div>
  </form>
</script>