<form class="restart-modal-form" role="form" ng-submit="restart()">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    <h3 class="modal-title" translate="home.restart.headerLabel">Restart Data Collector</h3>
  </div>
  <div class="modal-body">
    <div ng-hide="isRestartSucceed">
      <div class="alert alert-danger alert-dismissible" role="alert"
           ng-repeat="issue in issues">

        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        {{issue}}
      </div>

      <p ng-show="isRestarting" translate="home.restart.restartingMessage"></p>

      <ng-include src="'common/administration/enableDPM/restartDPM.tpl.html'"></ng-include>
    </div>

    <div class="alert alert-success alert-dismissible" role="alert"
         ng-show="isRestartSucceed"
         translate="home.restart.successMessage">
    </div>

  </div>
</form>
