<div class="stage-library-pane" ng-controller="StageLibraryController">
  <form class="form-group-sm">

    <div class="stage-filter">
      <select class="form-control" name="stageLibrary" ng-model="filterGroup.selected"
              ng-options="stageGroup.label group by stageGroup.group for stageGroup in stageGroups">
        <option value="">All Stages</option>
      </select>
    </div>

    <!--div class="form-group">
      <div class="controls col-md-12">
        <input type="text" class="form-control" name="stageSearchText"
               placeholder="Type to search stage library"
               ng-model="stageSearchText">
      </div>
    </div-->

    <div class="stage-list-container">
      <ul class="stages-list">

        <li ng-repeat="stageLibrary in stageLibraries | filter : libraryFilter | orderBy: 'label'"
            ng-init="icon=getStageIconURL(stageLibrary)">
          <a role="menuitem" tabindex="-1" href="#"
             ng-click="addStageInstance(stageLibrary)"
             ng-style="{'background-image': 'url({{icon}})'}">
            <span>{{stageLibrary.label}}</span>
            <!--span>{{stageLibrary.label + ' - ' + stageLibrary.libraryLabel}}</span-->
          </a>
        </li>

      </ul>
    </div>

  </form>
</div>