<div class="stage-library-pane" ng-controller="StageLibraryController">
  <form class="form-group-sm">

    <div class="stage-filter">
      <select class="form-control" name="stageLibrary" ng-model="$storage.stageFilterGroup"
              ng-options="stageGroup.label group by stageGroup.group for stageGroup in stageGroups track by stageGroup.name">
        <option value="">{{'global.form.allStages' | translate}}</option>
      </select>
    </div>

    <div class="stage-list-container">
      <ul class="stages-list">

        <li id="item1" draggable drag-data="stageLibrary"
            tooltip-placement="bottom" tooltip="{{stageLibrary.description}}"
            tooltip-append-to-body="true"
            ng-repeat="stageLibrary in stageLibraries | filter : libraryFilter | orderBy: 'label'"
            ng-init="icon=getStageIconURL(stageLibrary)">
          <a role="menuitem" tabindex="-1" href="#"
             ng-click="addStageInstance({stage: stageLibrary})"
             ng-style="{'background-image': 'url({{icon}})'}">
            <span>{{stageLibrary.label}}</span>
            <!--span>{{stageLibrary.label + ' - ' + stageLibrary.libraryLabel}}</span-->
          </a>
        </li>

      </ul>
    </div>

  </form>
</div>