<form class="shutdown-modal-form" role="form" ng-submit="shutdown()">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    <h3 class="modal-title" translate="home.shutdown.headerLabel">Shutdown Collector</h3>
  </div>
  <div class="modal-body">
    <div ng-hide="isShutdownSucceed">
      <div class="alert alert-danger alert-dismissible" role="alert"
           ng-repeat="issue in issues">

        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        {{issue}}
      </div>

      <p ng-hide="isShuttingDown" translate="home.shutdown.confirmationMessage"></p>
      <p ng-show="isShuttingDown" translate="home.shutdown.shuttingDown"></p>
    </div>

    <div class="alert alert-danger alert-dismissible" role="alert"
         ng-show="isShutdownSucceed"
         translate="home.shutdown.successMessage">
    </div>

  </div>
  <div class="modal-footer" ng-hide="isShutdownSucceed">
    <button type="reset" class="btn btn-default" ng-click="cancel()" translate="global.form.no" ng-disabled="isShuttingDown">
      No
    </button>
    <button type="submit" class="btn btn-primary" translate="global.form.yes" ng-disabled="isShuttingDown">
      Yes
    </button>
  </div>
</form>
