
<div ng-controller="RawPreviewController" class="raw-preview-tab">
  <form class="form-horizontal" role="form" ng-submit="rawSourcePreview()">

    <div class="form-group"
         ng-switch="configDefinition.type"
         ng-repeat="configDefinition in detailPaneConfigDefn.rawSourceDefinition.configDefinitions">

      <div ng-switch-when="STRING">
        <label class="col-md-3 control-label">{{configDefinition.label}}
          <i class="fa fa-info-circle help-icon"
             ng-if="configDefinition.description"
             popover-placement="right"
             popover-append-to-body="false"
             popover="{{configDefinition.description}}"
             popover-trigger="mouseenter"></i>
        </label>

        <div class="controls col-md-7">
          <input type="text" class="form-control" name="{{configDefinition.name}}"
               ng-model="detailPaneConfig.uiInfo.rawSource.configuration[$index].value"
               ng-required="configDefinition.required">
        </div>
      </div>


      <div class="checkbox" ng-switch-when="BOOLEAN">
        <label class="col-md-3 control-label">{{configDefinition.label}}
          <i class="fa fa-info-circle help-icon"
             ng-if="configDefinition.description"
             popover-placement="right"
             popover-append-to-body="false"
             popover="{{configDefinition.description}}"
             popover-trigger="mouseenter"></i>
        </label>

        <div class="controls col-md-7">
          <input type="checkbox" name="{{configDefinition.name}}"
                 ng-model="detailPaneConfig.uiInfo.rawSource.configuration[$index].value">
        </div>

      </div>

      <div ng-switch-when="INTEGER">
        <label class="col-md-3 control-label">{{configDefinition.label}}
          <i class="fa fa-info-circle help-icon"
             ng-if="configDefinition.description"
             popover-placement="right"
             popover-append-to-body="false"
             popover="{{configDefinition.description}}"
             popover-trigger="mouseenter"></i>
        </label>
        <div class="controls col-md-7">
          <input type="number" class="form-control" name="{{configDefinition.name}}"
                 ng-model="detailPaneConfig.uiInfo.rawSource.configuration[$index].value"
                 ng-required="configDefinition.required">
        </div>

      </div>
    </div>

    <div class="row">
      <div class="controls col-md-3"></div>
      <div class="controls col-md-7 preview-button">
        <button type="submit" class="btn btn-primary btn-sm pull-left" translate="home.header.preview">Preview
        </button>
      </div>
    </div>

    <div class="preview-data form-group" ng-if="rawSourcePreviewData">
      <pre ng-bind="rawSourcePreviewData"></pre>
    </div>

  </form>
</div>