.header-pane {
  margin-top: 60px;

  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;

  .panel-heading {
    height: 45px;
    padding: @smallPadding @smallPadding*3;
    box-shadow: 0 1px 4px rgba(0,0,0,.2);

    button {
      margin-top: 2px;
    }

    .navbar-toggle {
      display: block;
      float: left;
      margin-top: 0;
      margin-bottom: 0;

      &:hover {
        background-color: #ddd;
      }

      .icon-bar {
        background-color: #888;
      }

      &.selected {
        .icon-bar {
          background-color: #2BB8E9;
        }
      }
    }

    .panel-title {

      h3 {
        padding-top: @smallPadding;
        margin: 0;
        font-size: 20px;
        padding-right: @defaultPadding;
      }

      i {
        padding-top: @smallPadding*.5;
        margin-left: @defaultPadding;

        &.green-color {
          color: @brand-success;
        }

        &.red-color {
          color: @brand-danger;
        }

      }
    }

    .issues-dropdown {

      padding-left: @smallPadding;

      li {
        a {
          white-space: normal;
          width: 400px;
        }

        &.dropdown-header {
          text-transform: capitalize;
        }
      }

      .badge {
        color: #d9534f;
        background-color: #fff;
      }
    }

    .btn {
      //margin-left: @defaultPadding;
    }

    .stage-dropdown {
      padding-right: @smallPadding;
    }

    .pipelineAgent-status {
      padding: @defaultPadding @defaultPadding*2;
      color: #ACACAC;
      font-size: 12px;
    }

  }
}