<div class="panel panel-default header-pane"
     ng-controller="HeaderController">

  <div class="panel-heading clearfix">
    <div class="pull-left" ng-switch="activeConfigStatus.state">
      <button type="button" class="navbar-toggle collapsed"
              ng-class="{'selected' : !hideLibraryPanel}"
              ng-click="toggleLibraryPanel()"
              title="{{'home.header.toggleLibraryPane' | translate}}">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>


      <div class="panel-title pull-left"
           ng-switch-when="RUNNING">
        <h3 class="pull-left">{{pipelineConfig.info.name}}: </h3>
        <h3 class="pull-left" translate="home.header.uptime">Uptime</h3>
        <h3 class="pull-left" am-time-ago="common.pipelineStatus.lastStatusChange"></h3>

        <i class="fa fa-spinner fa-spin fa-2x green-color"></i>
      </div>


      <div class="panel-title pull-left"
           ng-switch-when="STOPPING">
        <h3 class="pull-left" translate="home.header.stoppingPipeline">Stopping Pipeline</h3>
        <i class="fa fa-spinner fa-spin fa-2x red-color"></i>
      </div>

      <div class="panel-title pull-left"
           ng-switch-default>
        <h3 class="pull-left" translate="home.header.definePipeline">Define Pipeline:</h3>
        <h3 class="pull-left">{{activeConfigInfo.name}}</h3>
      </div>

    </div>


    <div class="pull-right" ng-if="pipelineConfig && activeConfigStatus.state !== 'STOPPING'">

      <div class="pull-left" ng-cloak ng-hide="isPipelineRunning || previewMode || activeConfigStatus.state === 'STOPPING'">
        <div class="pipelineAgent-status pull-right" ng-hide="common.saveOperationInProgress">
          <span class="glyphicon glyphicon-ok-circle"></span>
          <span translate="global.messages.info.saveOperationInProgress"></span>
        </div>

        <div class="pipelineAgent-status pull-right" ng-show="common.saveOperationInProgress"
             translate="global.messages.info.savingConfiguration">
        </div>
      </div>

      <div class="btn-group issues-dropdown" ng-show="pipelineConfig && pipelineConfig.issues.issueCount > 0">
        <button class="btn btn-link dropdown-toggle" type="button"
                data-toggle="dropdown">
          <span class="fa fa-exclamation-triangle fa-12x"></span>
          <span ng-hide="iconOnly" translate="home.header.issues">Issues</span>
          <span class="badge" ng-bind="pipelineConfig.issues.issueCount"></span>
        </button>
        <ul class="dropdown-menu pull-right scrollable-menu" role="menu" aria-labelledby="dropdownMenu1">

          <li role="presentation" class="dropdown-header"
              translate="home.header.pipelineIssues"
              ng-repeat-start="issue in pipelineConfig.issues.pipelineIssues">
            Pipeline Issues
          </li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="#"
               ng-click="onIssueClick(issue)">{{issue.message}}</a>
          </li>
          <li ng-repeat-end role="presentation" class="divider" ng-if="!$last"></li>

          <li role="presentation" class="dropdown-header"
              ng-repeat-start="(instanceName, issues) in pipelineConfig.issues.stageIssues"
              ng-bind="getStageInstanceLabel(instanceName)">
          </li>
          <li role="presentation" ng-repeat="issue in issues">
            <a role="menuitem" tabindex="-1" href="#"
               ng-click="onIssueClick(issue, instanceName)"
               ng-bind="getIssuesMessage(instanceName, issue)"></a>
          </li>
          <li ng-repeat-end role="presentation" class="divider" ng-if="!$last"></li>

        </ul>
      </div>

      <a type="button" class="btn btn-primary btn-sm"
              tooltip-placement="bottom" tooltip="{{'home.header.stageLibrary' | translate}}"
              tooltip-trigger="{{iconOnly ? 'mouseenter' : 'notooltip'}}"
              tooltip-popup-delay="500"
              ng-hide="isPipelineRunning || previewMode"
              ng-click="$storage.hideStageLibraryPanel = !$storage.hideStageLibraryPanel">
        <span class="fa fa-th fa-12x"></span>
        <span ng-hide="iconOnly" translate="home.header.stageLibrary">Stage Library</span>
      </a>


      <!--a type="button" class="btn btn-primary btn-sm"
              tooltip-placement="bottom" tooltip="{{'home.header.refreshPreview' | translate}}"
              tooltip-trigger="{{iconOnly ? 'mouseenter' : 'notooltip'}}"
              tooltip-popup-delay="500"
              ng-show="previewMode"
              ng-click="previewPipeline(true)">
        <span class="glyphicon glyphicon-refresh fa-12x"></span>
        <span ng-hide="iconOnly" translate="home.header.refreshPreview">Refresh Preview</span>
      </a-->

      <div class="btn-group notifications-dropdown"
           ng-show="triggeredAlerts.length > 0">
        <button class="btn btn-link dropdown-toggle" type="button"
                data-toggle="dropdown">
          <span class="fa fa-bell fa-12x"></span>
          <span ng-hide="iconOnly" translate="home.header.notifications">Notifications</span>
          <span class="badge" ng-bind="triggeredAlerts.length"></span>
        </button>
        <ul class="dropdown-menu pull-right scrollable-menu" role="menu" aria-labelledby="dropdownMenu1">

          <li role="presentation" class="dropdown-header"
              translate="home.header.alerts">
            Alerts
          </li>

          <li role="presentation"
              ng-repeat="alert in triggeredAlerts">
            <a role="menuitem" tabindex="-1" href="#"
               ng-click="onNotificationClick(alert)"
               ng-bind="alert.rule.label"></a>
          </li>

        </ul>
      </div>


      <a type="button" class="btn btn-primary btn-sm"
              tooltip-placement="bottom" tooltip="{{'home.header.snapshot' | translate}}"
              tooltip-trigger="{{iconOnly ? 'mouseenter' : 'notooltip'}}"
              tooltip-popup-delay="500"
              ng-show="isPipelineRunning && !snapshotMode"
              ng-click="captureSnapshot()">
        <span class="glyphicon glyphicon-camera fa-12x"></span>
        <span ng-hide="iconOnly" translate="home.header.snapshot">Snapshot</span>
      </a>

      <a type="button" class="btn btn-danger btn-sm"
              tooltip-placement="bottom" tooltip="{{'home.header.closeSnapshot' | translate}}"
              tooltip-trigger="{{iconOnly ? 'mouseenter' : 'notooltip'}}"
              tooltip-popup-delay="500"
              ng-show="snapshotMode"
              ng-click="closeSnapshot()">
        <span class="glyphicon glyphicon-camera fa-12x"></span>
        <span ng-hide="iconOnly" translate="home.header.closeSnapshot">Close Snapshot</span>
      </a>


      <a type="button" class="btn btn-primary btn-sm"
              tooltip-placement="bottom" tooltip="{{'home.header.preview' | translate}}"
              tooltip-trigger="{{iconOnly ? 'mouseenter' : 'notooltip'}}"
              tooltip-popup-delay="500"
              ng-hide="isPipelineRunning || previewMode"
              ng-click="previewPipeline()"
              ng-disabled="!pipelineConfig.previewable">
        <span class="glyphicon glyphicon-eye-open fa-12x"></span>
        <span ng-hide="iconOnly" translate="home.header.preview">Preview</span>
      </a>

      <a type="button" class="btn btn-danger btn-sm"
              tooltip-placement="bottom" tooltip="{{'home.header.closePreview' | translate}}"
              tooltip-trigger="{{iconOnly ? 'mouseenter' : 'notooltip'}}"
              tooltip-popup-delay="500"
              ng-show="previewMode"
              ng-click="closePreview()">
        <span class="glyphicon glyphicon-eye-close fa-12x"></span>
        <span ng-hide="iconOnly" translate="home.header.closePreview">Close Preview</span>
      </a>

      <a type="button" class="btn btn-primary btn-sm"
              tooltip-placement="bottom" tooltip="{{'home.header.start' | translate}}"
              tooltip-trigger="{{iconOnly ? 'mouseenter' : 'notooltip'}}"
              tooltip-popup-delay="500"
              ng-hide="isPipelineRunning || previewMode"
              ng-disabled="!pipelineConfig.valid"
              ng-click="startPipeline()">
        <span class="glyphicon glyphicon-play fa-12x"></span>
        <span ng-hide="iconOnly" translate="home.header.start">Start</span>
      </a>

      <a type="button" class="btn btn-danger btn-sm"
              tooltip-placement="bottom" tooltip="{{'home.header.stop' | translate}}"
              tooltip-trigger="{{iconOnly ? 'mouseenter' : 'notooltip'}}"
              tooltip-popup-delay="500"
              ng-click="stopPipeline()"
              ng-show="isPipelineRunning && !snapshotMode">
        <span class="glyphicon glyphicon-stop fa-12x"></span>
        <span ng-hide="iconOnly" translate="home.header.stop">Stop</span>
      </a>

      <div class="btn-group">
        <a type="button" class="btn btn-primary btn-sm dropdown-toggle"
                tooltip-placement="bottom" tooltip="{{'home.header.more' | translate}}"
                tooltip-trigger="{{iconOnly ? 'mouseenter' : 'notooltip'}}"
                tooltip-popup-delay="500"
                data-toggle="dropdown">
          <span class="fa fa-ellipsis-h fa-12x"></span>
        </a>
        <ul class="dropdown-menu pull-right" role="menu">

          <li role="presentation"
              ng-if="!isPipelineRunning"
              ng-class="{'disabled': !pipelineConfig.valid}">
            <a href="#" ng-click="!pipelineConfig.valid || resetOffset()">
              <i class="fa fa-power-off"></i> {{'home.resetOffset.title' | translate}}
            </a>
          </li>

          <li role="presentation" ng-if="isPipelineRunning && !monitoringPaused">
            <a href="#" ng-click="pauseMonitoring()">
              <i class="fa fa-pause"></i> {{'home.header.pauseMonitoring' | translate}}
            </a>
          </li>

          <li role="presentation" ng-if="isPipelineRunning && monitoringPaused">
            <a href="#" ng-click="continueMonitoring()">
              <i class="fa fa-play"></i> {{'home.header.continueMonitoring' | translate}}
            </a>
          </li>

        </ul>
      </div>
    </div>

  </div>

  <div class="panel-body"></div>
</div>
