/* StreamSets css file */

/* FONTS 
------------------------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);



/* GENERAL
------------------------------------------------------- */
body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	line-height: 1.5em; /* was 1.65 when font size was 13px, we think this looks better 5/30*/
	/* color: #555; */
}
h1 {
	font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
	font-size: 36px;
	line-height: 30px;
	font-weight: 300;
	margin-top: 45px ;
	margin-bottom: 0px;
	color: #003399;
}
h2 {
	font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
	/* DO font-size: 28px;*/
	font-weight: 300;
	/* margin-top: 40px ; Moving margin props to h2.title*/
	color: #003399;
}
/* DO added for parts */
h2.title{
    font-size:28px;
    line-height: 28px;
    margin-top:40px;
    margin-bottom: 5px;
}
h3 {
	font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif !important;
	/* DO font-size: 22px !important;*/
          line-height: 22px;
	font-weight: 400 ;
	margin-top: 35px ;
	margin-bottom: 5px ;
	color: #003399;
}
/* DO added for parts */
h3.title{
    font-size:22px;
    margin-top:35px;
}
h4 {
	font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif !important;
	/* DO font-size: 18px !important;*/
	line-height: 18px;
	font-weight: 400 ;
	margin-top: 30px ;
	margin-bottom: 5px;
	color: #003399;
}
/* DO added for parts */
h4.title{
    font-size:18px;
    margin-top:30px;
}

h5 {
	font-family: /* DO 'Montserrat', */ 'Lato', Helvetica, Arial, Lucida, sans-serif !important;
	/* DO font-size: 14px !important;*/
	line-height: 16px;
	/*  font-weight: 600 !important;*/
	/* DO text-transform: uppercase;
	letter-spacing: 1px; */
	margin-bottom: 5px;
	color: #003399;
}
/* added for parts */
h5.title {
    font-size: 16px;
    font-weight: 600;
    text-decoration:none;
    margin-top: 25px;
}
h6 {
	font-family: /* DO 'Montserrat', */ 'Lato', Helvetica, Arial, Lucida, sans-serif !important;
	/*  DO font-size: 12px !important;*/
	line-height: 15px;
	/* DO font-weight: 600 !important;
	text-transform: uppercase;
	letter-spacing: 1px;*/
	margin-bottom: 5px;
	color: #003399;
}
/* DO added for parts */
h6.topictitle6 {
    font-size: 15px;
    font-weight: 800;
    text-decoration:none;
    letter-spacing: 1px;
    margin-top:25px;
}

/* lc removing stupid link from help 5/30 */
span.permalink {
    display: none;   
}

a, a:active, a:visited, a.foundResult:visited, div#searchResults a {
	color: #29b4e1;
}
a:hover, div#searchResults a:hover {
	text-decoration: underline;
	color: #0079c2;
}
a.et_pb_font_icon:hover {
	text-decoration: none;
}
p, .p {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	/* color: #555;  */
	margin: 13px 0 0 0;
}



/* FORMS - used for graphics, not sure what else.
-------------------------------------------------------  */
input:hover, input:focus, input:active, input[type="text"]:hover {
	background: #fefefe;
	outline: none;
}
input {
	margin-top: 0;
	border-radius: 3px;
}
input, input[type="text"], #id_search {
	background: #fff;
	padding: 7px 5px;
}
#id_search {
	width: 85%;
}
.textToSearch {
	margin-right: -3px;
}
input[type="submit"] {
	color: #fff;
	background: #0079c2;
	height: 36px;
	padding: 0 30px;
	font-size: 14px;
	border: solid 1px #9f9f9f;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
input[type="submit"]:hover {
	cursor: pointer;
	text-decoration: none;
	color: #fff!important;
	background-color: #d06443;
}


/* HEADER 
------------------------------------------------------- */

#productTitle {
	float: left;
	width: 100%;
	top: 0;
	display: block;
	background-color: rgba(0, 0, 0, 0);
	padding: 0 5px 0 5px;
}
.wh_publication_title a.mainbooktitle {
	color: #003399;
	font-size: 24px;
}
.wh_publication_title a:hover{
	text-decoration:none;
}
.wh_logo_and_publication_title a.wh_logo {
    background-image: url("https://static.streamsetscloud.com/assets/streamsets_logo_small.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 260px;
    height: 90px;
    display: inline-block;
    margin: 0;
    float: left;
}
#header #productTitle h1 {
	float: left;
	background-color: transparent;
	color: #222;
	margin-left: 29px;
	font-weight: 300;
	font-style: normal;
	margin: 28px 0 0 25px;
}
#productToolbar #breadcrumbLinks {
	margin-left: 20px;
}
#header .navheader_parent_path, .navheader_parent_path {
  background: none;
  padding: 0;
  margin: 0;
  font-size: 11px;
  color: #0079c2!important;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  text-shadow: none;
  box-shadow: none;
}
a.navheader_parent_path {
	text-decoration: none;
}
a.navheader_parent_path:hover {
	text-decoration: underline;
}
#header .navheader_label, .navheader_label {
	display: none;
}

@media (max-width: 767px) {
	.wh_logo_and_publication_title {
		display: block;
		text-align: center;
		width: 100%;
	}
	.wh_logo_and_publication_title a.wh_logo {
		display: block!important;
		clear: both;
		float: none;
		height: 70px;
		width: 100%;
		background-position: center;
	}
}

/* LEFT NAV
------------------------------------------------------- */
#tree {
	font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
	margin-top: -10px;
}
#splitterContainer #tree ul>li ul>li span.ph {
    padding-left: 0;
}
#splitterContainer #tree ul>li span, #splitterContainer #tree ul>li span.hasSubMenuClosed, #splitterContainer #tree ul>li span.hasSubMenuOpened, #splitterContainer #tree ul>li span.topic {
	padding-left: 22px;
}
#splitterContainer #tree ul>li ul>li span, #splitterContainer #tree ul>li ul>li span.hasSubMenuClosed, #splitterContainer #tree ul>li ul>li span.hasSubMenuOpened, #splitterContainer #tree ul>li ul>li span.topic {
	padding-left: 22px;
}
#splitterContainer #tree ul>li ul>li ul>li span, #splitterContainer #tree ul>li ul>li ul>li span.hasSubMenuClosed, #splitterContainer #tree ul>li ul>li ul>li span.hasSubMenuOpened, #splitterContainer #tree ul>li ul>li ul>li span.topic {
	padding-left: 42px;
}
#splitterContainer #tree ul>li ul>li ul>li ul>li span, #splitterContainer #tree ul>li ul>li ul>li ul>li span.hasSubMenuClosed, #splitterContainer #tree ul>li ul>li ul>li ul>li span.hasSubMenuOpened, #splitterContainer #tree ul>li ul>li ul>li ul>li span.topic {
	padding-left: 62px;
}
#splitterContainer .topic .menuItemSelected {
	background: #0079c2;
	color: #fff;
}
#splitterContainer .topic:not(.menuItemSelected) {
  background-color: transparent;
  color: #666;
  font-weight: bold;

}
#splitterContainer .hasSubMenuClosed {
  background-color: transparent;
  font-size: 15px;
  font-weight: 600;
}
#splitterContainer .hasSubMenuOpened {
	color: #666;
	font-weight: bold;
	font-style: normal;
}
#splitterContainer #tree ul>li span.hasSubMenuOpened, #splitterContainer #tree ul>li span.hasSubMenuClosed {
	line-height: 1;
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	margin: 12px 0 8px 0;
}
#splitterContainer .menuItemSelected a {
	font-weight: 600;
	color: #222;
	text-shadow: none;
}

#splitterContainer #tree ul>li span, #splitterContainer #tree ul>li span.hasSubMenuClosed, #splitterContainer #tree ul>li span.hasSubMenuOpened, #splitterContainer #tree ul>li span.topic {
	font-size: 14px;
	line-height: 1em;
	font-weight: bold;
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	margin: 12px 0 8px 0;
}

#splitterContainer #tree ul>li ul>li span, #splitterContainer #tree ul>li ul>li span.hasSubMenuClosed, #splitterContainer #tree ul>li ul>li span.hasSubMenuOpened, #splitterContainer #tree ul>li ul>li span.topic, #splitterContainer #tree ul>li ul>li ul>li span, #splitterContainer #tree ul>li ul>li ul>li span.hasSubMenuClosed, #splitterContainer #tree ul>li ul>li ul>li span.hasSubMenuOpened, #splitterContainer #tree ul>li ul>li ul>li span.topic, #splitterContainer #tree ul>li ul>li ul>li ul>li span, #splitterContainer #tree ul>li ul>li ul>li ul>li span.hasSubMenuClosed, #splitterContainer #tree ul>li ul>li ul>li ul>li span.hasSubMenuOpened, #splitterContainer #tree ul>li ul>li ul>li ul>li span.topic {
	line-height: 1.85em;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
	letter-spacing: 0;
	margin: 0;
	border-bottom: 1px solid #ddd;
	background: #f2f2f2;
}
#splitterContainer #tree ul>li span a {
	color: #29b4e1;
}
#splitterContainer #tree ul>li span a:hover, #splitterContainer #tree ul>li span.menuItemSelected a  {
	color: #003399;
    font-weight: 900;
}
#splitterContainer #tree ul>li ul>li span a, #splitterContainer #tree ul>li ul>li ul>li span a, #splitterContainer #tree ul>li ul>li ul>li ul>li span a {
	color: #222;
}
#splitterContainer #tree ul>li ul>li span a:hover, #splitterContainer #tree ul>li ul>li ul>li span a:hover, #splitterContainer #tree ul>li ul>li ul>li ul>li span a:hover {
	color: #003399;
}
#splitterContainer #tree ul>li span.topic.menuItemSelected a, #splitterContainer #tree ul>li span.topic.menuItemSelected a:hover {
}
#splitterContainer #tree ul>li ul>li span.menuItemSelected a {
	color: #003399;
	font-weight: 900;
}
#splitterContainer #tree ul>li ul>li span {
	font-size: 15px;
}
#splitterContainer #tree ul>li ul>li ul>li span, #splitterContainer #tree ul>li ul>li ul>li ul>li span, #splitterContainer #tree ul>li ul>li ul>li ul>li ul>li span {
	font-size: 14px;
}

#splitterContainer .topic.menuItemSelected {
    color: #003399;
    font-weight: 900;
}

#splitterContainer .topic:not(.menuItemSelected):hover {
  color: #666;
  background-color: #efefef;
}

#splitterContainer .topic:not(.menuItemSelected):hover {
}
#splitterContainer .hasSubMenuClosed:hover {
	background-color: #ececec;
}
#expnd #collapseAllLink, #expnd #expandAllLink {
	margin: 0 2px;
}

span.topic {
  background-image: none;
}
#searchBlock #searchForm, #indexBlock #indexForm {
	box-shadow: none;
}
#indexList ul {
	margin-bottom: 10px;
}

#splitterContainer #tree ul>li ul>li span {
	background-position: 5px!important;
}
#splitterContainer #tree ul>li ul>li ul>li span {
	background-position: 25px 5px!important;
}
#splitterContainer #tree ul>li ul>li ul>li ul>li span {
	background-position: 45px 5px!important;
}
#splitterContainer #tree ul>li ul>li ul>li ul>li ul>li span {
	background-position: 65px 5px!important;
}
.wh_topic_toc li, .wh_publication_toc li {
	margin: .75em 0;
}

/* CONTENT
------------------------------------------------------- */

.container .row:first-of-type {
	margin: 0;
}

.frmBody {
	padding-left: 15px!important
}
.title.topictitle1 {
  background: transparent;
  padding: 20px 0;
  box-shadow: none;
  text-shadow: none;
  border: none;
  margin-bottom: 10px;
  font-size: 32px;
  color: #003399;
  font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1em;
}
.topic.nested1 {
	padding-bottom: 1em;
}
.related-links {
	padding: 0!important;
}

.related-links .ullinks {
	padding-left: 0;
}

.related-links .ulchildlink br {
	display: none;
}
.relinfo {
	padding-top: 10px;
	margin-top: 18px;
}
/* LC rel context */
.relinfo.relconcepts {
	padding-top: 10px;
	margin-top: 18px;
}

.relinfo br {
	display: none;
}

.related_link a.navheader_parent_path {
	font-size: 14px;
	color: #29b4e1;
}
.related_link a.navheader_parent_path:hover {
	color: #0079c2;
}
.wh_related_links, .wh_child_links, .wh_topic_content .related-links {
    background: none;
}
.wh_child_links {
	margin-top: 0;
	border-top: 1px solid #eee;
}
.title.sectiontitle /*DO ,  .title.topictitle2*/ {
	background: none;
	box-shadow: none;
	text-shadow: none;
	font-weight: normal;
	color: #003399;
	line-height: 1.8em;
	margin: 0 0 10px 0;
	padding: 0;
}

.title.topictitle2 {
	font-size: 24px;
	border-bottom: 1px solid #e1e1e1; /* DO added for parts */
}
/* DO added for parts */
.title.sectiontitle {
    font-size: 22px;
    letter-spacing: 1.5px;
    /* font-weight:800; */
    font-variant-caps:all-small-caps;
}

.title.sectiontitle, .title.topictitle2, .topictitle3, .topictitle4, .topictitle5, .topictitle6 {
	font-style: normal;
}
.dt[id]::after, .section[id] .sectiontitle::after, .title.topictitle2[id]::after, table[id] .tablecap::after {
	background: none;
}

.codeblock {
  background-color: #eee;
  margin: 5px 0 5px 0;
} 
.shortdesc {
  margin: 0 0 13px 0;
  font-size: 14px;
  font-weight: normal;
  text-shadow: none;
}
.image {
  max-width: 100%;
}
.importanttitle, div[class="important"]>h3, .attentiontitle, div[class="attention"]>h3, .noticetitle, div[class="notice"]>h3, .notetitle, div[class="note"]>h3, .tiptitle, div[class="tip"]>h3 {
	padding-left: 0;
	background-image: none!important;
}

.note {
	font-size: 14px;
	line-height: 1.5em; /* lc added 5/30 */
}


/* TABLES
------------------------------------------------------- */
.simpletable {
	border: none;
	display: block; 
	margin: 15px 0;
	clear: both;
	float: none;
}
.simpletable th {
	border: none;
	/* background: #e6e6e6; */
	padding: 7px;
	text-transform: uppercase;
	font-size: 11px;
}
.simpletable td {
	background: transparent;
	padding: 7px;
	border: 1px solid #eee;
}
.simpletable code {
    background: transparent;
}

tr {
	border: 1px solid #e1e1e1;
}

/* LC adding these .stentry items to correct spacing in simple tables*/
.stentry .ul, .stentry .ol, .stentry .dl {
	padding-left: 20px;
	margin: 8px 0 0 0;
}

.stentry .ul .li, .stentry .ol .li {
	margin: 6px 0 0 0 !important;
}

.stentry p, .stentry .note, .stentry .tip {
	margin: 8px 0 0 0 !important;
}

.tablecap {
  background: none;
  color: #003399;
  /*DO  font-weight: bold;*/
  font-size: 13px;
  padding: 0;
  margin: 0;
}

.table {
  background: none;
  margin: 10px 0; /* was 14 px */
  padding: 0;	
  clear: both;
  float: none;
}

th, th.entry {
  background: #e6e6e6;
  border: 1px solid #bcbcbc!important;
  padding: 7px;
}

td.entry {
  background: none;
  padding: 7px;
  border-top: none;
}

/* lc added this item 5/30 */
td.entry.cellrowborder {
    vertical-align: top; /* this fixes alignment in entries! LC added 5/30 */
}

/* lc adding for 2nd paragraph in tables */
td.div.p {
    line-height: 1.5em
}

td p, td .p {
	margin: 8px 0 0 0 !important; /* lc added 5/30 */
}
/* lc adding to fix clear background code in tables 5/30 */
pre.pre.codeblock {
background-color: #eee;
}

/* LC adding these .entry items for non-simple tables*/
.entry .ul, .entry .ol, .entry .dl {
	padding-left: 20px;
	margin: 8px 0 0 0;
}
.entry .ul .li, .entry .ol .li {
	margin: 8px 0 0 0 !important;
}
.entry p, .entry .note, .entry .tip {
	margin: 8px 0 0 0 !important;
	vertical-align: top; /* LC added 5/30 */

}

table caption {
	margin: 14px 0 5px;
}

table .pre {
	background: none;
	padding: 0;
}
table.codetable, table.codetable tr, table.codetable th, table.codetable td {
	border: none;
}
table.codetable th {
	background: none;
	padding: 7px;
	text-transform: uppercase;
	font-size: 11px;
}
table.codetable td {
	padding: 5px 10px;
}
table.codetable td, table.codetable td p {
	font-family: monospace;
	font-size: 10pt;
}

/* LISTS
------------------------------------------------------- */
ul, .ul, ol, .ol, dl, .dl {
  background: transparent;
  font-size: 14px;
  line-height: 1.5em;
  font-weight: normal;
  font-style: normal;
  text-shadow: none;
}

ul, .ul, ol, .ol {
	padding-left: 20px;
	margin: 10px 0 0 0;
}
ul, .ul, dl, .dl  {
	list-style-type: disc;
}
.ul .li {
	margin: 10px 0 0 0;
}	
/* LC adding this to correct p spacing after a bullet */
.ul .li p {
	margin: 10px 0 0 0;
}

/* LC adding these to clean up numbered lists*/
.ol .li {
	margin: 10px 0 0 0;
}	
.ol .li p {
	margin: 10px 0 0 0;
}

dl, .dl {
	margin: 0;
}
.dt {
  background: transparent;
  font-weight: bold;
  font-size: 14px;
  margin: 16px 0 0 0;
  /*DO To render as bullets uncomment:*/
  /*display:list-item;*/
  /*list-style-position:inside; */
}
.dd {
  background-color: transparent;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.5em; /* lc added 5/25 */
  font-variant: normal;
  margin: 10px 0 0 0;
  padding-left: 20px;
}

.dd p {
	margin: 10px 0px 5px 0;
}
/* spacing between miniTOC items */
li.link.ulchildlink {
	margin-top: 0;
	margin-bottom: 10px;
}

.ul .p, .ol .p, .dl .p {
}
/* DO added to differentiate second- and third-level lists */
ul ul, ul .ul {
    list-style-type:circle;
}
ul ul ul , ul ul .ul{
    list-style-type:square;
}

/* FOOTER
------------------------------------------------------- */
div.footer, .footer_separator {
  font-weight: 100;
  font-style: normal;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 1in;
}


/* LC adding these context items - not sure they were necessary?

.context {
	margin: 14px 0 0 0;
}

.context p {
	margin: 14px 0 0 0;
}
*/

.steps {
	margin: 14px 0 0 0;
}

.step {
    margin: 10px 0 0 0;
	margin-bottom: 10px;
}
/* LC adding .info .ul .li */
.stepresult, .stepresult p, .info, .info p, 
.info .ul .li, .info .ol .li {
	margin: 10px 0 0 0;
	font-size: 14px;
}

.info .codeblock {
	margin: 4px 0 0 0;
	background-color: #eee; /* lc adding 5/30 */

}

.q {
  background-color: transparent;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
}
.example {
  background-color: transparent;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  font-variant: normal;
  border-top-style: solid;
  border-top-color: rgb(41, 180, 225);
  border-top-width: 1px;
  border-top-right-radius: 0px;
  border-right-style: solid;
  border-right-color: rgb(41, 180, 225);
  border-bottom-right-radius: 0px;
  border-bottom-style: solid;
  border-bottom-color: rgb(41, 180, 225);
  border-bottom-width: 1px;
  border-bottom-left-radius: 0px;
  border-left-style: solid;
  border-left-color: rgb(41, 180, 225);
  border-left-width: 5px;
  border-top-left-radius: 0px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
}

.keyword.apiname {
  background-color: transparent;
}

.fig.fignone {
  background-color: transparent;
}
.figcap {
  background-color: transparent;
}

.footer {
  background-color: transparent;
  color: rgb(153, 153, 153);
  font-size: 11px;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
   margin-left: 5px;
}
.footer a {
  background-color: transparent;
  color: #666;
  font-weight: 400;
  font-style: normal;
  font-size: 11px;
  font-variant: normal;
  margin-left: 5px;
}

#header #space {
  background-color: rgb(242, 242, 242);
}
#splitterContainer .splitbarV {
  background-color: rgb(230, 230, 230);
}
pre {
	padding: 3px 8px;
	margin: 0;
}


#splitterContainer .splitbuttonV {
  background-color: rgba(0, 0, 0, 0);
}

#header #lHeader {
  background-color: rgb(255, 255, 255);
  border-right-color: rgb(0, 0, 0);
  border-bottom-color: rgb(0, 0, 0);
  border-top-color: rgb(0, 0, 0);
  border-left-color: rgb(0, 0, 0);
  border-bottom-width: 0px;
  border-top-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  border-top-width: 0px;
  border-top-right-radius: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-top-left-radius: 0px;
  border-bottom-style: solid;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
#splitterContainer #leftPane {
  background-color: rgb(242, 242, 242);
  border-right-color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
  border-top-color: rgb(230, 236, 245);
  border-left-color: rgb(255, 255, 255);
  border-bottom-width: 0px;
  border-top-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  border-top-width: 0px;
  border-top-right-radius: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-top-left-radius: 0px;
  border-bottom-style: solid;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
#header .tab.selectedTab {
  background-color: rgb(242, 242, 242);
  padding-bottom: 7px;
  padding-top: 8px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  margin-top: 1px;
  padding-right: 25px;
  padding-left: 25px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-left-width: 1px;
  text-shadow: transparent 0px 0px 0px;
  border-right-color: rgb(204, 204, 204);
  border-top-color: rgb(204, 204, 204);
  border-left-color: rgb(204, 204, 204);
  border-bottom-color: rgb(51, 51, 51);
  border-bottom-width: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  text-decoration: initial;
  border-top-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  border-bottom-style: none;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  color: #000;
}
#header .tab:not(.selectedTab) {
  background-color: rgb(188, 188, 188);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0);
  border-bottom-color: rgb(218, 218, 218);
  color: rgb(34, 34, 34);
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  margin-top: 5px;
  padding-right: 25px;
  padding-left: 25px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-left-width: 1px;
  padding-bottom: 6px;
  padding-top: 5px;
  text-shadow: transparent 0px 0px 0px;
  border-right-color: rgb(204, 204, 204);
  border-top-color: rgb(204, 204, 204);
  border-left-color: rgb(204, 204, 204);
  border-bottom-width: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  text-decoration: initial;
  border-top-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  border-bottom-style: none;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
#header #tocMenu {
  background-color: rgba(118, 118, 118, 0);
  padding-right: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  padding-left: 5px;
}
#header .link {
  background-color: rgba(128, 128, 128, 0);
  padding-right: 10px;
  padding-left: 20px;

  padding-bottom: 0px;
  padding-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-size: 11px;
  color: #e6e6e6;
  font-weight: 400;
  font-style: normal;
  margin-top: 0px;
  font-variant: normal;
}

.hasSubMenuOpened {
  font-size: 14px;
  color: rgb(51, 51, 51);
  font-weight: 400;
  font-style: normal;
  background-color: transparent;
  background-attachment: scroll;
  background-position: top left;
}
.hasSubMenuClosed {
  font-size: 14px;
  color: rgb(50, 50, 50);
  font-weight: 400;
  font-style: normal;
  background-color: transparent;
  background-attachment: scroll;
  background-position: top left;
}


span.uicontrol {
  color: rgb(50, 50, 50);
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
}
span.wintitle {
  font-weight: bold;
}
/* DO added to render userinput, codeph, and filepath tags as monospace */
kbd.userinput{
    background-color:inherit;
    color: inherit;
    box-shadow: none;
    padding: 0;
}
.codeph {
    background-color: inherit;
    padding: 0;
}
span.filepath{
    background-color: inherit;
    padding: 0;
}
pre code, span.filepath, .codeph, kbd.userinput {
    font-family:"Courier New", monospace;
    font-size: 118%;
}
/*DO Not used currently
.option, .cmdname, .parmname{
    font-family:Menlo,Monaco,Consolas,"Courier New",monospace;
} 
*/

#undefined undefined {
  border-top-color: rgb(188, 188, 188);
  border-bottom-color: rgb(188, 188, 188);
  border-left-color: rgb(230, 230, 230);
}



#contentBlock ul>li ul {
  padding-left: 0;
}

#contentBlock ul {
  padding-left: 0;
}
#expnd {
  float: right;
}
#contentBlock a {
  display: block;
}




