.pipeline-empty-container {
  background: #29b4e1 url('/assets/logo-watermark-big.png') no-repeat center bottom;
  position: absolute;
  top: 0;
  left: 0;
  bottom: -45px;
  width: 100%;
  overflow: hidden;

  display: none;

  .create-pipeline-btn-group {
    margin: 250px 0 0 38%;
    color: #ffffff;
    
    h2 {
      padding-left: @defaultPadding * 6;
      padding-bottom: @defaultPadding * 2;
      font-style: italic;
      font-family: serif;
    }
    
    .btn {
      margin-right: @defaultPadding;
    }
  }

  .show {
    display: inherit;
  }
}




