<div class="container-fluid summary-tab" ng-controller="SummaryController">

  <div class="row" ng-if="selectedType === pipelineConstant.PIPELINE && triggeredAlerts.length">
    <div class="col-sm-12 col-md-12 col-lg-12 triggered-alerts"
         ng-repeat="triggeredAlert in triggeredAlerts | filter: {type: 'METRIC_ALERT'}">
      <div class="alert alert-danger" role="alert">
        <i class="fa fa-exclamation-triangle"></i> {{triggeredAlert.rule.alertText}}

        <div class="pull-right">
          <a href="#"
             ng-click="deleteTriggeredAlert(triggeredAlert)">
            <span translate="global.form.delete">Delete</span>
          </a>
          &nbsp;|&nbsp;
          <a href="#"
             ng-click="selectRulesTab(triggeredAlert)">
            <span translate="global.form.changeRule">Change Rule</span>
          </a>
        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <ng-include ng-repeat="(chartIndex, chart) in $storage.summaryPanelList" src="chart.templateId">
    </ng-include>
  </div>

</div>


<script type="text/ng-template" id="summaryRecordPercentagePieChartTemplate">
  <div class="col-sm-4"
       ng-if="selectedType === pipelineConstant.STAGE_INSTANCE && timeRange === 'latest'"
       ng-controller="RecordPercentagePieChartController">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span title="{{'home.detailPane.summaryTab.recordsProcessed' | translate}}"
          translate="home.detailPane.summaryTab.recordsProcessed">Records Processed</span>
        <button type="button" class="close" aria-label="Close" ng-click="removeChart(chart, chartIndex)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="panel-body">

        <nvd3 ng-if="timeRange === 'latest'"
              options="chartOptions" data="pieChartData" config="{ refreshDataOnly: true }"></nvd3>

        <!--nvd3-pie-chart
          ng-if="timeRange === 'latest'"
          data="pieChartData"
          id="RecordProcessedPieChartID"
          height="250"
          x="getLabel()"
          y="getValue()"
          color="getColor()"
          legendColor="getColor()"
          showLabels="true"
          showLegend="true"
          tooltips="true"
          tooltipcontent="getTooltipContent()"
          labelType="percent"
          donut="true"
          donutRatio=".25"
          donutLabelsOutside="true"
          margin="{left:20,top:20,bottom:20,right:20}">
          <svg></svg>
        </nvd3-pie-chart -->



      </div>
    </div>
  </div>
</script>


<script type="text/ng-template" id="summaryRecordCountBarChartTemplate">
  <div class="col-sm-4"
       ng-controller="RecordCountBarChartController">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span title="{{'home.detailPane.summaryTab.recordCountBarChartTitle' | translate}}"
              translate="home.detailPane.summaryTab.recordCountBarChartTitle">Record Count (since last startup)</span>
        <button type="button" class="close" aria-label="Close" ng-click="removeChart(chart, chartIndex)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="panel-body">

        <nvd3 ng-if="timeRange === 'latest'"
              options="chartOptions" data="barChartData" config="{ refreshDataOnly: true }"></nvd3>


        <nvd3 ng-if="timeRange !== 'latest'"
              options="timeSeriesChartOptions" data="timeSeriesChartData" config="{ refreshDataOnly: true }"></nvd3>

        <!--nvd3-discrete-bar-chart
          ng-if="timeRange === 'latest'"
          data="barChartData"
          id="RecordCountBarChartID"
          height="250"
          color="getColor()"
          showXAxis="true"
          showYAxis="true"
          showValues="true"
          showLegend="true"
          staggerLabels="true"
          yAxisTickFormat="getYAxisLabel()"
          valueformat="valueFormatFunction()"
          margin="{left:20,top:20,bottom:40,right:20}">
        </nvd3-discrete-bar-chart-->


        <!--nvd3-line-chart
          ng-if="timeRange !== 'latest'"
          objectequality="true"
          data="timeSeriesChartData"
          id="RecordCountTimeSeriesID"
          xAxisTickFormat="dateFormat()"
          yAxisTickFormat="formatValue()"
          x="xValue()"
          y="yValue()"
          height="250"
          showXAxis="true"
          showYAxis="true"
          showLegend="true"
          tooltips="true"
          color="getColor()"
          legendColor="getColor()"
          margin="{left:50,top:20,bottom:40,right:40}">
          <svg></svg>
        </nvd3-line-chart-->


      </div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="summaryRecordsThroughputMeterBarChartTemplate">
  <div class="col-sm-4"
       ng-controller="MeterBarChartController">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span title="{{'home.detailPane.summaryTab.recordThroughput' | translate}}"
              translate="home.detailPane.summaryTab.recordThroughput">Record Throughput</span>
        <button type="button" class="close" aria-label="Close" ng-click="removeChart(chart, chartIndex)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="panel-body">

        <nvd3 ng-if="timeRange === 'latest'"
              options="chartOptions" data="chartData" config="{ refreshDataOnly: true }"></nvd3>


        <nvd3 ng-if="timeRange !== 'latest'"
              options="timeSeriesChartOptions" data="timeSeriesChartData" config="{ refreshDataOnly: true }"></nvd3>


        <!--nvd3-multi-bar-chart
          ng-if="timeRange === 'latest'"
          data="chartData"
          id="MeterBarChartId"
          height="250"
          color="getColor()"
          legendColor="getColor()"
          yaxislabel="{{'home.detailPane.recordsPerSecond' | translate}}"
          yaxislabeldistance="40"
          yAxisTickFormat="valueFormatFunction()"
          valueformat="valueFormatFunction()"
          margin="{left:50,top:20,bottom:40,right:20}"
          staggerLabels="true"
          showLegend="true"
          showXAxis="true"
          showYAxis="true"
          tooltips="true"
          tooltipcontent="getTooltipContent()">
          <svg></svg>
        </nvd3-multi-bar-chart-->

        <!--nvd3-line-chart
          ng-if="timeRange !== 'latest'"
          objectequality="true"
          data="timeSeriesChartData"
          id="MeterBarChartTimeSeriesID"
          xAxisTickFormat="dateFormat()"
          yAxisTickFormat="formatValue()"
          yaxislabel="{{'home.detailPane.recordsPerSecond' | translate}}"
          yaxislabeldistance="40"
          x="xValue()"
          y="yValue()"
          height="250"
          showXAxis="true"
          showYAxis="true"
          showLegend="true"
          tooltips="true"
          color="getColor()"
          legendColor="getColor()"
          margin="{left:50,top:20,bottom:40,right:40}">
          <svg></svg>
        </nvd3-line-chart-->

      </div>
    </div>
  </div>

</script>


<script type="text/ng-template" id="summaryBatchThroughputBarChartTemplate">
  <div class="col-sm-4"
       ng-if="selectedType === pipelineConstant.PIPELINE"
       ng-controller="BatchCountBarChartController">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span title="{{'home.detailPane.summaryTab.batchThroughput' | translate}}"
          translate="home.detailPane.summaryTab.batchThroughput">Batch Throughput</span>
        <button type="button" class="close" aria-label="Close" ng-click="removeChart(chart, chartIndex)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="panel-body">

        <nvd3 ng-if="timeRange === 'latest'"
              options="chartOptions" data="chartData" config="{ refreshDataOnly: true }"></nvd3>


        <nvd3 ng-if="timeRange !== 'latest'"
              options="timeSeriesChartOptions" data="timeSeriesChartData" config="{ refreshDataOnly: true }"></nvd3>


        <!--nvd3-discrete-bar-chart
          ng-if="timeRange === 'latest'"
          data="chartData"
          id="BatchCountBarChartID"
          height="250"
          yaxislabel="{{'home.detailPane.batchesPerSecond' | translate}}"
          yaxislabeldistance="40"
          staggerLabels="true"
          showXAxis="true"
          showYAxis="true"
          showValues="false"
          showLegend="true"
          tooltips="true"
          tooltipcontent="getTooltipContent()"
          margin="{left:50,top:20,bottom:40,right:20}">
        </nvd3-discrete-bar-chart-->

        <!--nvd3-line-chart
          ng-if="timeRange !== 'latest'"
          objectequality="true"
          data="timeSeriesChartData"
          id="BatchCountBarChartTimeSeriesID"
          xAxisTickFormat="dateFormat()"
          yAxisTickFormat="formatValue()"
          yaxislabel="{{'home.detailPane.batchesPerSecond' | translate}}"
          yaxislabeldistance="40"
          x="xValue()"
          y="yValue()"
          height="250"
          showXAxis="true"
          showYAxis="true"
          showLegend="true"
          tooltips="true"
          color="getColor()"
          legendColor="getColor()"
          margin="{left:50,top:20,bottom:40,right:40}">
          <svg></svg>
        </nvd3-line-chart-->

      </div>
    </div>
  </div>
</script>


<script type="text/ng-template" id="summaryRecordHistogramTemplate">
  <div class="col-sm-4"
       ng-if="common.sdcExecutionMode !== pipelineConstant.CLUSTER && timeRange === 'latest'"
       ng-controller="HistogramChartController">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span title="{{'global.form.histogram' | translate}}"
          translate="global.form.histogram">Record Histogram (5 minutes decay)</span>
        <button type="button" class="close" aria-label="Close" ng-click="removeChart(chart, chartIndex)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="panel-body">


        <nvd3 ng-if="timeRange === 'latest'"
              options="chartOptions" data="timerData" config="{ refreshDataOnly: true }"></nvd3>

        <!--nvd3-multi-bar-horizontal-chart
          ng-if="timeRange === 'latest'"
          data="timerData"
          id="histogramMixChartID"
          height="250"
          color="getColor()"
          legendColor="getColor()"
          showLegend="true"
          showXAxis="true"
          showYAxis="true"
          showValues="false"
          tooltips="true"
          tooltipcontent="getTooltipContent()"
          margin="{left:65,top:70,bottom:20,right:20}">
          <svg></svg>
        </nvd3-multi-bar-horizontal-chart-->

      </div>
    </div>
  </div>
</script>


<script type="text/ng-template" id="summaryRecordsProcessedTemplate">
  <div class="col-sm-4"
       ng-if="common.sdcExecutionMode !== pipelineConstant.CLUSTER && timeRange === 'latest'"
       ng-controller="BatchTimerChartController">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span title="{{'home.detailPane.summaryTab.batchProcessingTimer' | translate}}"
          translate="home.detailPane.summaryTab.batchProcessingTimer">Batch Processing Timer (in seconds)</span>
        <button type="button" class="close" aria-label="Close" ng-click="removeChart(chart, chartIndex)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="panel-body">

        <nvd3 ng-if="timeRange === 'latest'"
              options="chartOptions" data="timerData" config="{ refreshDataOnly: true }"></nvd3>


        <!--nvd3-multi-bar-horizontal-chart
          ng-if="timeRange === 'latest'"
          data="timerData"
          id="timerDataBatchTimerChartID"
          height="250"
          color="getColor()"
          legendColor="getColor()"
          showLegend="true"
          showXAxis="true"
          showValues="true"
          margin="{left:50,top:70,bottom:20,right:20}">
          <svg></svg>
        </nvd3-multi-bar-horizontal-chart-->

      </div>

    </div>
  </div>
</script>

<script type="text/ng-template" id="memoryConsumedLineChartTemplate">
  <div class="col-sm-4"
       ng-if="common.sdcExecutionMode !== pipelineConstant.CLUSTER"
       ng-controller="MemoryConsumedLineChartController">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span title="{{'home.detailPane.summaryTab.memoryConsumed' | translate}}"
          translate="home.detailPane.summaryTab.memoryConsumed">Memory Consumed</span>
        <button type="button" class="close" aria-label="Close" ng-click="removeChart(chart, chartIndex)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="panel-body">

        <nvd3 ng-if="timeRange === 'latest'"
              options="chartOptions" data="lineChartData" config="{ refreshDataOnly: true }"></nvd3>


        <nvd3 ng-if="timeRange !== 'latest'"
              options="timeSeriesChartOptions" data="timeSeriesChartData" config="{ refreshDataOnly: true }"></nvd3>

        <!--nvd3-line-chart
          ng-if="timeRange === 'latest'"
          objectequality="true"
          data="lineChartData"
          id="MemoryConsumedLineChartID"
          height="250"
          isArea="true"
          xAxisTickFormat="xAxisTickFormat"
          yAxisTickFormat="yAxisTickFormat"
          showXAxis="true"
          showYAxis="true"
          color="getColor()"
          legendColor="getColor()"
          showLabels="true"
          showLegend="true"
          tooltips="true"
          tooltipcontent="getTooltipContent()"
          margin="{left:50,top:70,bottom:20,right:20}">
          <svg></svg>
        </nvd3-line-chart-->


        <!--nvd3-line-chart
          ng-if="timeRange !== 'latest'"
          objectequality="true"
          data="timeSeriesChartData"
          id="MemoryConsumedLineChartTimeSeriesID"
          xAxisTickFormat="dateFormat()"
          yAxisTickFormat="sizeFormat()"
          x="xValue()"
          y="yValue()"
          height="{{(selectedType === pipelineConstant.STAGE_INSTANCE) ? '250' : '500'}}"
          showXAxis="true"
          showYAxis="true"
          showLegend="true"
          tooltips="true"
          color="getColor()"
          legendColor="getColor()"
          margin="{left:50,top:20,bottom:40,right:40}">
          <svg></svg>
        </nvd3-line-chart-->


      </div>
    </div>
  </div>
</script>


<script type="text/ng-template" id="summaryRuntimeStatisticsTemplate">
  <div class="col-sm-4"
       ng-if="selectedType === pipelineConstant.PIPELINE && common.sdcExecutionMode !== pipelineConstant.CLUSTER">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span title="{{'home.detailPane.summaryTab.runtimeStatistics' | translate}}"
          translate="home.detailPane.summaryTab.runtimeStatistics">Runtime Statistics</span>
        <button type="button" class="close" aria-label="Close" ng-click="removeChart(chart, chartIndex)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="panel-body double-size-panel">

        <ul class="table-properties">

          <li>
            <span class="properties-label">{{'home.detailPane.summaryTab.timeOfLastReceivedRecord' | translate}}:</span>
            <span class="properties-value"
                  ng-if="common.pipelineMetrics.gauges['RuntimeStatsGauge.gauge'].value.timeOfLastReceivedRecord"
              >{{common.pipelineMetrics.gauges['RuntimeStatsGauge.gauge'].value.timeOfLastReceivedRecord  | date:'medium'}}</span>
          </li>

          <li>
            <span class="properties-label">{{'home.detailPane.summaryTab.batchCount' | translate}}:</span>
            <span class="properties-value">{{common.pipelineMetrics.gauges['RuntimeStatsGauge.gauge'].value.batchCount}}</span>
          </li>

          <li>
            <span class="properties-label">{{'home.detailPane.summaryTab.batchStartTime' | translate}}:</span>
            <span class="properties-value"
                  ng-if="common.pipelineMetrics.gauges['RuntimeStatsGauge.gauge'].value.batchStartTime"
              >{{common.pipelineMetrics.gauges['RuntimeStatsGauge.gauge'].value.batchStartTime  | date:'medium'}}</span>
          </li>

          <li>
            <span class="properties-label">{{'home.detailPane.summaryTab.currentBatchAge' | translate}}:</span>
            <span class="properties-value">{{common.pipelineMetrics.gauges['RuntimeStatsGauge.gauge'].value.currentBatchAge}}</span>
          </li>

          <li>
            <span class="properties-label">{{'home.detailPane.summaryTab.currentSourceOffset' | translate}}:</span>
            <span class="properties-value">{{common.pipelineMetrics.gauges['RuntimeStatsGauge.gauge'].value.currentSourceOffset}}</span>
          </li>

          <li>
            <span class="properties-label">{{'home.detailPane.summaryTab.currentStage' | translate}}:</span>
            <span class="properties-value">{{stageNameToLabelMap[common.pipelineMetrics.gauges['RuntimeStatsGauge.gauge'].value.currentStage]}}</span>
          </li>

          <li>
            <span class="properties-label">{{'home.detailPane.summaryTab.timeInCurrentStage' | translate}}:</span>
            <span class="properties-value">{{common.pipelineMetrics.gauges['RuntimeStatsGauge.gauge'].value.timeInCurrentStage}}</span>
          </li>

        </ul>

        <ul class="table-properties">
          <li>
            <span class="properties-value">{{'home.detailPane.summaryTab.threadLastRun' | translate}}</span>
          </li>

          <li>
            <span class="properties-label">{{'home.detailPane.summaryTab.productionPipelineRunnable' | translate}}:</span>
            <span class="properties-value">{{common.pipelineMetrics.gauges['health.ProductionPipelineRunnable.gauge'].value.timestamp  | date:'medium'}}</span>
          </li>

          <li>
            <span class="properties-label">{{'home.detailPane.summaryTab.rulesConfigLoaderRunnable' | translate}}:</span>
            <span class="properties-value">{{common.pipelineMetrics.gauges['health.RulesConfigLoaderRunnable.gauge'].value.timestamp  | date:'medium'}}</span>
          </li>

          <li>
            <span class="properties-label">{{'home.detailPane.summaryTab.dataObserverRunnable' | translate}}:</span>
            <span class="properties-value">{{common.pipelineMetrics.gauges['health.DataObserverRunnable.gauge'].value.timestamp  | date:'medium'}}</span>
          </li>

          <li>
            <span class="properties-label">{{'home.detailPane.summaryTab.metricObserverRunnable' | translate}}:</span>
            <span class="properties-value">{{common.pipelineMetrics.gauges['health.MetricObserverRunnable.gauge'].value.timestamp  | date:'medium'}}</span>
          </li>

          <li>
            <span class="properties-label">{{'home.detailPane.summaryTab.metricsEventRunnable' | translate}}:</span>
            <span class="properties-value">{{common.pipelineMetrics.gauges['health.MetricsEventRunnable.gauge'].value.timestamp  | date:'medium'}}</span>
          </li>

        </ul>

      </div>
    </div>
  </div>
</script>


<script type="text/ng-template" id="slaveSDCInstancesTemplate">
  <div class="col-sm-4"
       ng-if="selectedType === pipelineConstant.PIPELINE && common.sdcExecutionMode === pipelineConstant.CLUSTER">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span title="{{'home.detailPane.summaryTab.slaveSDCInstances' | translate}}"
              translate="home.detailPane.summaryTab.slaveSDCInstances">Slave SDC Instances</span>
        <button type="button" class="close" aria-label="Close" ng-click="removeChart(chart, chartIndex)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="panel-body">
        <ul class="table-properties">
          <li ng-repeat="sdcURL in common.pipelineMetrics.slaves">
            <a href="/rest/v1/cluster/redirectToSlave?sdcURL={{sdcURL}}" target="_blank">
              {{sdcURL}}
            </a>
          </li>

          <li ng-if="!common.pipelineMetrics || !common.pipelineMetrics.slaves || common.pipelineMetrics.slaves.length === 0">
            <span class="properties-label" translate="global.messages.info.noDataAvailable">No Data Available.</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</script>


<script type="text/ng-template" id="summaryAllStageBatchTimerBarChartTemplate">
  <div class="col-sm-4"
       ng-if="selectedType === pipelineConstant.PIPELINE && common.sdcExecutionMode !== pipelineConstant.CLUSTER"
       ng-controller="AllStageBatchTimerChartController">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span title="{{'home.detailPane.summaryTab.stageBatchProcessingTimer' | translate}}"
              translate="home.detailPane.summaryTab.stageBatchProcessingTimer">Stage Batch Processing Timer (in seconds)</span>
        <button type="button" class="close" aria-label="Close" ng-click="removeChart(chart, chartIndex)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="panel-body">

        <nvd3 ng-if="timeRange === 'latest'"
              options="chartOptions" data="chartData" config="{ refreshDataOnly: true }"></nvd3>


        <nvd3 ng-if="timeRange !== 'latest'"
              options="timeSeriesChartOptions" data="timeSeriesChartData" config="{ refreshDataOnly: true }"></nvd3>


        <!--nvd3-pie-chart
          ng-if="timeRange === 'latest'"
          data="chartData"
          id="SummaryAllStageBatchTimerBarChartTemplateID"
          height="500"
          x="getLabel()"
          y="getValue()"
          showLabels="false"
          showLegend="true"
          tooltips="true"
          tooltipcontent="getTooltipContent()"
          labelType="value"
          donut="true"
          donutRatio=".35"
          donutLabelsOutside="true"
          margin="{left:20,top:0,bottom:20,right:20}">
          <svg></svg>
        </nvd3-pie-chart-->

        <ul class="properties" ng-if="timeRange === 'latest'">
          <li>
            <span class="properties-label"> Total:</span>
            <span class="properties-value">{{totalValue}} seconds</span>
          </li>
        </ul>


        <!--nvd3-line-chart
          ng-if="timeRange !== 'latest'"
          objectequality="true"
          data="timeSeriesChartData"
          id="SummaryAllStageBatchTimerBarChartTemplateTimeSeriesID"
          xAxisTickFormat="dateFormat()"
          yAxisTickFormat="formatValue()"
          x="xValue()"
          y="yValue()"
          height="500"
          isArea="false"
          showXAxis="true"
          showYAxis="true"
          showLegend="true"
          tooltips="true"
          margin="{left:50,top:20,bottom:40,right:40}">
          <svg></svg>
        </nvd3-line-chart-->

      </div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="summaryAllStageMemoryConsumedBarChartTemplate">
  <div class="col-sm-4"
       ng-if="selectedType === pipelineConstant.PIPELINE && common.sdcExecutionMode !== pipelineConstant.CLUSTER"
       ng-controller="AllStageMemoryConsumedChartController">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span title="{{'home.detailPane.summaryTab.stageMemoryConsumed' | translate}}"
              translate="home.detailPane.summaryTab.stageMemoryConsumed">Stage Heap Memory Usage</span>
        <button type="button" class="close" aria-label="Close" ng-click="removeChart(chart, chartIndex)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="panel-body">

        <nvd3 ng-if="timeRange === 'latest'"
              options="chartOptions" data="chartData" config="{ refreshDataOnly: true }"></nvd3>


        <nvd3 ng-if="timeRange !== 'latest'"
              options="timeSeriesChartOptions" data="timeSeriesChartData" config="{ refreshDataOnly: true }"></nvd3>


        <!--nvd3-pie-chart
          ng-if="timeRange === 'latest'"
          data="chartData"
          id="SummaryAllStageMemoryConsumedBarChartTemplateID"
          height="500"
          x="getLabel()"
          y="getValue()"
          showLabels="false"
          showLegend="true"
          tooltips="true"
          tooltipcontent="getTooltipContent()"
          labelType="value"
          labelThreshold=".05"
          donut="true"
          donutRatio=".35"
          donutLabelsOutside="true"
          margin="{left:20,top:0,bottom:20,right:20}">
          <svg></svg>
        </nvd3-pie-chart-->

        <ul class="properties" ng-if="timeRange === 'latest'">
          <li>
            <span class="properties-label"> Total:</span>
            <span class="properties-value">{{totalValue}} MB</span>
          </li>
        </ul>

        <!--nvd3-line-chart
          ng-if="timeRange !== 'latest'"
          objectequality="true"
          data="timeSeriesChartData"
          id="SummaryAllStageMemoryConsumedBarChartTemplateTimeSeriesID"
          xAxisTickFormat="dateFormat()"
          yAxisTickFormat="sizeFormat()"
          x="xValue()"
          y="yValue()"
          height="500"
          isArea="false"
          showXAxis="true"
          showYAxis="true"
          showLegend="true"
          tooltips="true"
          margin="{left:50,top:20,bottom:40,right:40}">
          <svg></svg>
        </nvd3-line-chart-->

      </div>
    </div>
  </div>
</script>