.configuration-tab {

  .panel-body {
    padding: @smallPadding * 3;
    overflow: inherit;
  }

  .attribute-type {
    height: 24px;
  }

  .table {
    input[type=checkbox] {
      margin-top: 0;
    }
  }

  .popover {
    width : 800px;
    z-index   : 1060;
  }

  .lane-label {
    float: right;
    padding-top: 4px;
  }

  .lane-predicate {
    padding: @smallPadding 0;
  }

  .source-preview {
    pre {
      height: 500px;
      word-break: normal;
      word-wrap: normal;
    }
  }

  .field-selector-btn {
    padding-top: @defaultPadding;
  }
}

.field-selector-modal-body {
  height: 400px;
  overflow: auto;
}