.configuration-tab {
  input[type=checkbox] {
    margin-top: 11px;
  }

  .attribute-type {
    height: 24px;
  }

  .form-group .help-block {
    display: none;
  }

  .form-group.has-error .help-block {
    display: block;
  }

  .table {
    input[type=checkbox] {
      margin-top: 0;
    }
  }
}