<div ng-controller="ConfigurationController" class="configuration-tab">


  <div ng-class="detailPaneConfigDefn.rawSourceDefinition ? 'col-sm-7' : 'col-sm-9'">
    <div class="panel panel-default">
      <div class="panel-heading">Configuration</div>
      <div class="panel-body">


        <form class="form " role="form" name="{{detailPaneConfig.instanceName || 'pipeline'}}">

          <!-- General Configuration for Pipeline-->
          <div class="form-group" ng-if="detailPaneConfig.stages !== undefined">
            <label class="control-label" translate="global.form.name">Name</label>
            <div>
              <input readonly type="text" class="form-control" name="name"
                     ng-model="pipelineConfig.info.name">
            </div>
          </div>

          <div class="form-group" ng-if="detailPaneConfig.stages !== undefined">
            <label class="control-label" translate="global.form.description">Description</label>
            <div>
              <textarea class="form-control" name="description"
                        ng-model="pipelineConfig.description"></textarea>
            </div>
          </div>
          <!--- /General Configuration-->


          <!-- General Configuration for Stages-->
          <div class="form-group" ng-if="detailPaneConfig.stages === undefined">
            <label class="control-label" translate="global.form.label">Label</label>
            <div>
              <input type="text" class="form-control" name="name"
                     ng-model="detailPaneConfig.uiInfo.label">
            </div>
          </div>


          <div class="form-group" ng-if="detailPaneConfig.stages === undefined">
            <label class="control-label" translate="global.form.description">Description</label>
            <div>
              <textarea class="form-control" name="description"
                        ng-model="detailPaneConfig.uiInfo.description"></textarea>
            </div>
          </div>

          <!--- /General Configuration-->

          <div class="form-group"
               ng-switch="configDefinition.type"
               ng-repeat="configDefinition in detailPaneConfigDefn.configDefinitions" show-errors>

            <div class="checkbox" ng-switch-when="BOOLEAN">
              <label>
                <input type="checkbox" name="{{configDefinition.name}}"
                     ng-model="detailPaneConfig.configuration[$index].value">  {{configDefinition.label}}
              </label>

              <p class="help-block">{{getConfigurationIssueMessage(detailPaneConfig, configDefinition)}}</p>
            </div>

            <div ng-switch-when="INTEGER">
              <label class="control-label">{{configDefinition.label}}</label>
              <input type="number" class="form-control" name="{{configDefinition.name}}"
                     ng-model="detailPaneConfig.configuration[$index].value"
                     ng-required="configDefinition.required"
                     popover-placement="right"
                     popover-append-to-body="false"
                     popover-title="{{configDefinition.label}}"
                     popover="{{configDefinition.description}}"
                     popover-trigger="focus">

              <p class="help-block">{{getConfigurationIssueMessage(detailPaneConfig, configDefinition)}}</p>
            </div>

            <div ng-switch-when="STRING">
              <label class="control-label">{{configDefinition.label}}</label>
              <input type="text" class="form-control" name="{{configDefinition.name}}"
                     ng-model="detailPaneConfig.configuration[$index].value"
                     ng-required="configDefinition.required"
                     popover-placement="right"
                     popover-append-to-body="false"
                     popover-title="{{configDefinition.label}}"
                     popover="{{configDefinition.description}}"
                     popover-trigger="focus">

              <p class="help-block">{{getConfigurationIssueMessage(detailPaneConfig, configDefinition)}}</p>

            </div>

            <div ng-switch-when="MODEL"
                 ng-switch="configDefinition.model.modelType">

              <div ng-switch-when="VALUE_CHOOSER">
                <label class="control-label">{{configDefinition.label}}</label>

                <select class="form-control" name="{{configDefinition.name}}"
                        ng-model="detailPaneConfig.configuration[$index].value"
                        popover-placement="right"
                        popover-append-to-body="false"
                        popover-title="{{configDefinition.label}}"
                        popover="{{configDefinition.description}}"
                        popover-trigger="focus">
                  <option ng-repeat="listValue in configDefinition.model.values"
                          value="{{listValue}}"
                          ng-selected="listValue === detailPaneConfig.configuration[$parent.$index].value">
                    {{configDefinition.model.labels[$index]}}
                  </option>
                </select>
              </div>



              <div ng-switch-when="FIELD_SELECTOR">
                <label class="control-label">{{configDefinition.label}}</label>
                <table class="table table-bordered"
                       ng-if="configDefinition.model.modelType === 'FIELD_SELECTOR'">
                  <thead>
                  <tr>
                    <th class="text-center col-md-2">{{configDefinition.label}}</th>
                    <th class="col-md-5" translate="global.form.fieldName">Field Name</th>
                    <th class="col-md-2" translate="global.form.type">Type</th>
                    <th class="col-md-4" translate="global.form.sampleValue">Sample Value</th>
                    <th class="col-md-1"></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="field in detailPaneConfig.uiInfo.inputFields">
                    <td class="text-center">
                      <input type="checkbox"
                             ng-checked="detailPaneConfig.configuration[$parent.$index].value.indexOf(field.name) > -1"
                             ng-click="toggleSelector(detailPaneConfig.configuration[$parent.$index].value, field.name)">
                    </td>
                    <td>{{field.name}}</td>
                    <td>{{field.type}}</td>
                    <td>{{field.sampleValue}}</td>
                    <td>
                      <span class="glyphicon glyphicon-minus-sign icon-danger pointer"
                            ng-click="removeFieldSelector(detailPaneConfig.uiInfo.inputFields, $index, detailPaneConfig.configuration[$parent.$index].value)">
                      </span>
                    </td>
                  </tr>
                  </tbody>
                </table>

                <div class="row">
                  <div class="col-md-5">
                    <input class="form-control input-sm" type="text"
                           ng-enter="addNewField(detailPaneConfig.uiInfo.inputFields)"
                           ng-model="newFieldName"
                           placeholder="{{'global.form.fieldName.placeholder' | translate}}">
                  </div>
                  <div class="col-md-1">
                    <button type="button" class="btn btn-primary btn-sm"
                            ng-click="addNewField(detailPaneConfig.uiInfo.inputFields)">
                      <span class="glyphicon glyphicon-plus"></span> {{'global.form.add' | translate}}
                    </button>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </form>


      </div>
    </div>
  </div>

  <div class="col-md-5 source-preview" ng-if="detailPaneConfigDefn.rawSourceDefinition">
    <div class="panel panel-default">
      <div class="panel-heading" translate="admin.detailPane.configurationTab.rawSourcePreview">Raw Source Preview</div>
      <div class="panel-body">
        <form class="form" ng-submit="rawSourcePreview()">

          <div class="form-group"
               ng-repeat="configDefinition in detailPaneConfigDefn.rawSourceDefinition.configDefinitions" show-errors>
            <label class="control-label">{{configDefinition.label}}</label>

            <div ng-if="configDefinition.type === 'STRING'">
              <input type="text" class="form-control" name="{{configDefinition.name}}"
                     ng-model="detailPaneConfig.uiInfo.rawSource.configuration[$index].value"
                     ng-required="configDefinition.required"
                     popover-placement="left"
                     popover-append-to-body="false"
                     popover-title="{{configDefinition.label}}"
                     popover="{{configDefinition.description}}"
                     popover-trigger="focus">
            </div>
          </div>

          <div class="form-group clearfix">
            <button type="submit" class="btn btn-primary btn-sm pull-right" translate="admin.header.preview">
              Preview
            </button>
          </div>

          <div class="form-group" ng-if="rawSourcePreviewData">
            <pre ng-bind="rawSourcePreviewData"></pre>
          </div>

        </form>
      </div>
    </div>
  </div>

</div>
