<div ng-controller="ConfigurationController" class="configuration-tab cozy-form">

  <div ng-if="!showGroups">
    <ng-include src="'app/home/detail/configuration/general.tpl.html'"></ng-include>
  </div>

  <tabset ng-if="showGroups">

    <tab active="true">
      <tab-heading>
        <i class="fa fa-exclamation-triangle icon-danger"
           ng-show="showWarning(tab)"></i>
        <span translate="home.detailPane.configurationTab.general">General</span>
      </tab-heading>

      <div class="tabs-content">
        <ng-include src="'app/home/detail/configuration/general.tpl.html'"></ng-include>
      </div>
    </tab>


    <tab ng-repeat="(groupName, configGroupLabel) in detailPaneConfigDefn.configGroupDefinition.groupNameToLabelMap"
      ng-init="groupConfigDefinitions = getGroupConfigDefinitions(detailPaneConfig, detailPaneConfigDefn.configDefinitions, groupName)">
      <tab-heading ng-show="groupConfigDefinitions && groupConfigDefinitions.length">
        <span>{{configGroupLabel}}</span>
      </tab-heading>

      <div class="tabs-content" ng-show="groupConfigDefinitions && groupConfigDefinitions.length">
        <ng-include ng-if="selectedType !== pipelineConstant.LINK"
                    src="'app/home/detail/configuration/groupConfiguration.tpl.html'"></ng-include>

      </div>
    </tab>

  </tabset>

</div>


