/*
 | This file is part of the DITA Open Toolkit project hosted on 
 | Sourceforge.net. See the accompanying license.txt file for 
 | applicable licenses.
*/

/*
 | (c) Copyright IBM Corp. 2004, 2005 All Rights Reserved.
 */
 
 
/* 
 * The Oxygen WebHelp Plugin redistributes this file under the terms of the 
 * Apache Software Foundation License v2.0:
 * 
 * http://opensource.org/licenses/apache2.0.php
 */

/* Moved all the rules in the LTR CSS. */
@import "commonltr.css";