<div class="dpm-info">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    <h3 class="modal-title" translate="home.dpmInfo.headerLabel">StreamSets Control Hub</h3>
  </div>
  <div class="modal-body">

    <p>
      StreamSets Control Hub (SCH &#8482;) helps you view and control
      numerous pipelines from a single point.
    </p>
    <p>
      SCH provides release and configuration management for your pipelines and lets you visualize end-to-end aggregated performance metrics from a single dashboard.
    </p>

  </div>
  <div class="modal-footer">
    <a class="btn btn-primary" href="https://streamsets.com/dpm-signup" target="_blank"
       translate="home.dpmInfo.learnMore">Learn More</a>

    <button class="btn btn-primary" ng-click="openEnableDPMModal()"
            translate="home.dpmInfo.enableDPM">Enable SCH</button>
  </div>
</div>
