@import "topic/commonltr.css?buildId=2018042310";

/* Changes and comments, as side-notes. */
@import "side-notes/p-side-notes.css?buildId=2018042310";

/* Topic content styles. */
@import "topic/topic.css?buildId=2018042310";

/* Default styles. */
@import "core/webhelp.css?buildId=2018042310";

/* Top Menu and Publication TOC components styles. */
@import "nav-links/nav-links.css?buildId=2018042310";


/* Expand/collapse topic sections. */
@import "core/expand.css?buildId=2018042310";

/* Tooltip styles. */
@import "nav-links/tooltip.css?buildId=2018042310";