<div ng-controller="RulesController" class="rules-tab">

  <tabset ng-if="selectedType === pipelineConstant.LINK">
    <tab>
      <tab-heading>
        <span  translate="home.detailPane.rulesTab.alertRule">Alert Rule</span>
      </tab-heading>

      <div class="tabs-content">
        <ng-include src="'app/home/detail/rules/alert/alert.tpl.html'"></ng-include>
      </div>
    </tab>

    <tab>
      <tab-heading>
        <span  translate="home.detailPane.rulesTab.samplingRule">Sampling Rule</span>
      </tab-heading>

      <div class="tabs-content">
        <ng-include src="'app/home/detail/rules/sampling/sampling.tpl.html'"></ng-include>
      </div>
    </tab>

    <tab>
      <tab-heading>
        <span  translate="home.detailPane.rulesTab.metricRule">Metric Rule</span>
      </tab-heading>

      <div class="tabs-content">
        <ng-include src="'app/home/detail/rules/metric/metric.tpl.html'"></ng-include>
      </div>
    </tab>
  </tabset>

  <ng-include ng-if="selectedType !== pipelineConstant.LINK"
              src="'app/home/detail/rules/metricAlert/metricAlert.tpl.html'"></ng-include>

</div>