<div ng-controller="RulesController" class="rules-tab">

  <tabset ng-if="selectedType === pipelineConstant.LINK">
    <tab>
      <tab-heading>
        <span  translate="home.detailPane.rulesTab.alertsRule">Alerts Rule</span>
      </tab-heading>

      <div class="tabs-content">
        <ng-include src="'app/home/detail/rules/alerts/alerts.tpl.html'"></ng-include>
      </div>
    </tab>

    <tab>
      <tab-heading>
        <span  translate="home.detailPane.rulesTab.samplingRule">Sampling Rule</span>
      </tab-heading>

      <div class="tabs-content">
        <ng-include src="'app/home/detail/rules/sampling/sampling.tpl.html'"></ng-include>
      </div>
    </tab>

    <tab>
      <tab-heading>
        <span  translate="home.detailPane.rulesTab.metersRule">Meters Rule</span>
      </tab-heading>

      <div class="tabs-content">
        <ng-include src="'app/home/detail/rules/meters/meters.tpl.html'"></ng-include>
      </div>
    </tab>
  </tabset>

  <ng-include ng-if="selectedType !== pipelineConstant.LINK"
              src="'app/home/detail/rules/metricAlerts/metricAlerts.tpl.html'"></ng-include>

</div>