<tabset type="pills">

  <tab>
    <tab-heading>
      Bad Records <span class="badge alert-danger">{{ errorRecordsCount.count | abbreviateNumber}}</span>
    </tab-heading>
    <div class="pills-content">
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-sm-3 bad-record-count-label">Total Number of Bad Records</label>
          <div class="col-sm-3">
            <input type="text" class="form-control input-sm"
                   ng-model="errorRecordsCount.count" readonly>
          </div>
        </div>
      </form>

      <table class="table" ng-if="stageBadRecords && stageBadRecords.length > 0">
        <thead>
        <tr>
          <th class="col-md-6">
        <span class="glyphicon glyphicon-expand pointer"
              ng-if="!expandAllErrorData"
              ng-click="onExpandAllErrorData()"></span>
        <span class="glyphicon glyphicon-collapse-down pointer"
              ng-if="expandAllErrorData"
              ng-click="onCollapseAllErrorData()"></span>
            <span translate="admin.badRecords.mostRecentBadRecords">Most Recent Bad Records</span>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="errorRecord in stageBadRecords">
          <td>
            <label class="label label-danger pointer" ng-click="errorRecord.expand = !errorRecord.expand">
            <span class="glyphicon glyphicon-expand"
                  ng-if="errorRecord.expand !== true && expandAllErrorData !== true"></span>
            <span class="glyphicon glyphicon-collapse-down"
                  ng-if="errorRecord.expand === true || expandAllErrorData === true"></span>
              {{'global.form.record' | translate}}{{$index+1}} - {{'global.form.errorRecord' | translate}} - {{errorRecord.header.errorMessage}}
            </label>
            <ul class="record-list" ng-if="errorRecord.expand === true || expandAllErrorData === true">
              <li class="record-list-item"
                  ng-repeat="(fieldName, recordValue) in errorRecord.value.value"
                  ng-include="'recordTree'">
              </li>
            </ul>
          </td>
        </tr>

        </tbody>

      </table>
    </div>
  </tab>


  <tab>
    <tab-heading>
      {{'global.form.errors' | translate}} <span class="badge alert-danger">{{errorMessagesCount.count | abbreviateNumber}}</span>
    </tab-heading>

    <div class="pills-content">
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-sm-3 bad-record-count-label" translate="admin.badRecords.mostRecentErrorMessages">Total Number of Errors</label>
          <div class="col-sm-3">
            <input type="text" class="form-control input-sm"
                   ng-model="errorMessagesCount.count" readonly>
          </div>
        </div>
      </form>

      <table class="table table-hover" ng-if="errorMessages && errorMessages.length > 0">
        <caption>
          <label>Most Recent Error Messages</label>
        </caption>
        <thead>
          <tr>
            <th class="col-md-3" translate="global.form.timestamp">Timestamp</th>
            <th class="col-md-2" translate="global.form.errorCode">Error Code</th>
            <th class="col-md-7" translate="global.form.errorMessage"> Error Message</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="errorMessage in errorMessages">
            <td>{{errorMessage.timestamp | date:'medium'}}</td>
            <td ng-bind="errorMessage.errorCode"> </td>
            <td ng-bind="errorMessage.localized"> </td>
          </tr>
        </tbody>
      </table>

    </div>
  </tab>

</tabset>
