<div class="sampling-tab">
  <form class="form-horizontal" role="form"
        ng-class="{'form-group-sm': ($storage.displayDensity === pipelineConstant.DENSITY_COZY || $storage.displayDensity === pipelineConstant.DENSITY_COMPACT)}"
        name="{{detailPaneConfig.instanceName || 'pipeline'}}">

    <table class="table">
      <thead>
      <tr>
        <th class="col-md-1">Enabled</th>
        <th class="col-md-4">Label</th>
        <th class="col-md-3">Predicate</th>
        <th class="col-md-5">Sampling Percentage</th>
        <th></th>
      </tr>
      </thead>
      <tbody ng-hide="showLoading">

      <tr ng-repeat="samplingRule in samplingDefinitions = (pipelineRules.samplingDefinitions | filter: { lane: selectedObject.outputLane })">

        <td>
          <input type="checkbox" name="enabled{{$index}}"
                 ng-model="samplingRule.enabled">
        </td>

        <td>
          <textarea class="form-control" name="alertText{{$index}}" rows="1"
                    placeholder="Label"
                    ng-model="samplingRule.label"
                    ng-required="true"></textarea>
        </td>

        <td>
          <input type="text" class="form-control" name="predicate{{$index}}"
                 placeholder="Predicate"
                 ng-model="samplingRule.predicate"
                 ng-required="true">
        </td>

        <td class="threshold-column">
          <input type="text" class="form-control" name="samplingPercentage{{$index}}"
                 placeholder="Percentage"
                 ng-model="samplingRule.samplingPercentage"
                 ng-required="true">
        </td>

        <td>
          <div class="col-xs-1 btn-group" role="group" aria-label="Default button group">
            <button type="button" class="btn btn-danger btn-sm"
                    tooltip-placement="bottom" tooltip="Delete Sampling Rule"
                    ng-click="removeRule(pipelineRules.samplingDefinitions, $index)">
              <i class="fa fa-minus pointer"></i>
            </button>
          </div>
        </td>

      </tr>

      <tr ng-if="samplingDefinitions.length === 0">
        <td colspan="3" class="no-records text-center"
            translate="home.detailPane.rulesTab.noSamplingRules">No Sampling Rules to view.</td>
      </tr>

      </tbody>
    </table>

    <div show-loading="showLoading"></div>

    <button type="button" class="btn btn-primary btn-sm pull-right add-button"
            ng-click="createSamplingRule()">
      <i class="fa fa-plus"></i> {{'global.form.add' | translate}}
    </button>

  </form>
</div>