<div class="modal-header">
  <h3 class="modal-title" translate="packageManager.install.title">Install Stage Library</h3>
</div>
<div class="modal-body package-manager-modal-body">
  <ng-include src="'app/home/alerts/error/errorAlert.tpl.html'"></ng-include>

  <div ng-if="operationStatus === 'complete' && !hasErrors()">
    <div   class="alert alert-success alert-dismissible" role="alert" translate="packageManager.install.successMessage"/>
    <ng-include src="'common/administration/enableDPM/restartDPM.tpl.html'"></ng-include>
  </div>

  <div ng-if="operationStatus === 'restarting'"
       class="alert alert-success alert-dismissible" role="alert"
       translate="home.restart.successMessage">
  </div>

  <div ng-if="operationStatus !== 'complete'">
    <div ng-if="maprStageLib" class="alert alert-info" role="alert">
      You must perform additional steps to install MapR stage libraries. For more information, see <a href="https://streamsets.com/documentation/datacollector/latest/help/#Installation/MapR-Prerequisites.html" target="_blank">MapR Prerequisites</a>.
    </div>
  </div>

  <p translate="packageManager.install.confirmationMessage"></p>

  <ul class="stage-library-labels">
    <li ng-repeat="library in libraryList">
      <span class="icon-wrapper">
        <i ng-if="inStatus(library, 'installing')" class="fa fa-circle-o-notch fa-spin"></i>
        <i ng-if="inStatus(library, 'installed')" class="fa fa-check"></i>
        <i ng-if="inStatus(library, 'failed')" class="fa fa-remove"></i>
      </span>
      <span>{{library.stageLibraryManifest.stageLibLabel}}</span>
      <a href="#" ng-click="showError(library)" ng-show="hasError(library)">show error</a>
    </li>
  </ul>

  <div ng-if="operationStatus !== 'complete'" class="eula-tos">
    <div ng-if="agreementCheckModel.hasEnterpriseConnectors" class="alert alert-info checkbox" role="alert">

      <p>Please note that these libraries are not available under the Apache 2.0 Open Source License.
        You may access these libraries solely for internal, non-production use, by accepting our
        Subscription Terms of Service (“TOS”) below.</p>


      <p>Please note that the "Scope of Use" as defined in the TOS shall be for non-production evaluation purposes
        only (see Section 3.7 of the TOS for details).</p>

      <p>If you would like to use these StreamSets Stage Libraries in a production setting, you may enter into a separate commercial license.
        Please contact us via this <a href="https://streamsets.com/connect-sdc" target="_blank">link</a> or
        email <a href="mailto:sales@streamsets.com" target="_top">sales@streamsets.com</a> for more information.</p>

      <label>
        <input type="checkbox" name="agreement" ng-model="agreementCheckModel.agreementChecked"/>
        By clicking this checkbox I agree to the <a href="https://streamsets.com/eula" target="_blank">StreamSets TOS</a>
      </label>
    </div>
  </div>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="cancel()"
          ng-if="operationStatus !== 'installing' && operationStatus !== 'restarting'"
          translate="global.form.cancel">Cancel</button>

  <button type="button" class="btn btn-primary" ng-click="install()"
          ng-if="operationStatus === 'incomplete'"
          ng-disabled="agreementCheckModel.hasEnterpriseConnectors && !agreementCheckModel.agreementChecked"
          translate="global.form.install">Install</button>

  <button type="button" class="btn btn-primary" ng-click="retry()"
          ng-if="operationStatus === 'complete' && hasErrors()"
          translate="global.form.retry">Retry</button>

  <button type="button" class="btn btn-primary" disabled
          ng-if="operationStatus === 'installing'"
          translate="global.form.installing">Installing...</button>
</div>
