<div class="modal-header">
  <button type="button" class="close" ng-click="no()">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">Close</span>
  </button>
  <h3 class="modal-title" ng-if="!forceStop" translate="home.header.stopConfirmationTitle">Stop Pipeline Confirmation</h3>
  <h3 class="modal-title" ng-if="forceStop" translate="home.header.forceStopConfirmationTitle">Force Stop Pipeline Confirmation</h3>
</div>
<div class="modal-body multiple-pipelines-modal-body">
  <ng-include src="'app/home/alerts/error/errorAlert.tpl.html'"></ng-include>

  <div ng-if="!isList && (!common.errors || common.errors.length == 0)">
    <p ng-if="!stopping && !forceStop"
       translate="home.header.stopConfirmationMessage" translate-values="{name: pipelineInfo.title}"></p>

    <p ng-if="!stopping && forceStop"
       translate="home.header.forceStopConfirmationMessage" translate-values="{name: pipelineInfo.title}"></p>

    <p translate="home.header.stoppingPipeline" ng-if="stopping"></p>
  </div>

  <div ng-if="isList && (!common.errors || common.errors.length == 0)">
    <p ng-if="!stopping && !forceStop" translate="home.header.stopPipelinesConfirmationMessage"></p>
    <p ng-if="!stopping && forceStop" translate="home.header.forceStopPipelinesConfirmationMessage"></p>
    <p ng-if="!stopping" ng-repeat="pipeline in pipelineInfo">{{pipeline.title}}</p>
    <p translate="home.header.stoppingPipelines" ng-if="stopping"></p>
  </div>

</div>
<div class="modal-footer">
  <button type="button"
          class="btn btn-default"
          ng-if="!common.errors || common.errors.length == 0"
          ng-click="no()"
          translate="global.form.no"
          ng-disabled="stopping">No</button>
  <button type="button"
          class="btn btn-primary"
          ng-if="!common.errors || common.errors.length == 0"
          ng-click="yes()"
          translate="global.form.yes"
          ng-disabled="stopping">Yes</button>
  <button type="button"
          class="btn btn-default"
          ng-if="common.errors && common.errors.length > 0"
          ng-click="no()"
          translate="global.form.close"
          ng-disabled="stopping">Close</button>
</div>
