.detail-pane {
  height: calc(~"100% - 11px");
  margin-bottom: 0;
  border-bottom: none;

  .preview-page-detail {
    padding-right: @defaultPadding;
  }

  .panel-heading {
    .preview-heading {
      div {
        padding-left: @defaultPadding;
      }

    }
  }

  .panel-body {
    padding: 0;
    height: calc(~"100% - 40px");
    overflow: auto;

    .tabbable {
      height: 100%;
      padding: 0 @smallPadding * 3;

      .nav-tabs {
        height: 250px;
        padding-top: @smallPadding * 3;
      }

      .tab-content {
        padding-top: @smallPadding * 3;

        input[type=checkbox] {
          margin-top: 11px;
        }

        .attribute-type {
          height: 24px;
        }

        .form-group .help-block {
          display: none;
        }

        .form-group.has-error .help-block {
          display: block;
        }

        .table {
          input[type=checkbox] {
            margin-top: 0;
          }
        }
      }
    }

    .pipeline-preview {
      .preview-heading {
        padding: @defaultPadding @defaultPadding;
        margin-left: 0px;
        margin-right: 0px;
      }

      .preview-list {

        padding-left: @smallPadding * 3;

        .preview-list-item {
          list-style: none;
          padding: @smallPadding/2;

          .field-name {
            display: inline-block;
            min-width: 100px;
          }

          .field-value {
            padding-left: @defaultPadding;


            &.LONG, &.INTEGER {
              color: blue;
            }

            &.STRING {
              color: #008000;
            }
          }
        }
      }

      th, td {
        padding-left: @smallPadding*3;


        label {
          margin-bottom: 0px;
          font-weight: normal;
        }

        .dirty-icon {
          font-size: 8px;
          position: relative;
          top: -5px;
          color: gray;
        }

        .dirty {
          color: @brand-danger !important;
        }

      }
    }
  }
}