<div class="panel panel-default detail-pane" ng-hide="previewMode || snapshotMode" ng-controller="DetailController">

  <div class="panel-heading clearfix">

    <h3 class="panel-title pull-left"
        ng-if="isPipelineRunning && selectedType !== pipelineConstant.LINK">{{'home.detailPane.monitoring' | translate}}:</h3>

    <h3 class="panel-title pull-left"
        ng-if="isPipelineRunning && selectedType === pipelineConstant.LINK">{{'home.detailPane.inspectingData' | translate}}:</h3>

    <div class="btn-group pull-left detail-name-dropdown">
      <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown">
        <span>{{getDetailPaneLabel()}}</span>

        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">

        <li role="presentation" class="dropdown-header"
            translate="global.form.pipeline">Pipeline</li>

        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#"
             ng-click="changeStageSelection({selectedObject: undefined, type: pipelineConstant.PIPELINE})">{{pipelineConfig.info.name}}</a>
        </li>

        <li role="presentation" class="divider"></li>

        <li role="presentation" class="dropdown-header"
            translate="global.form.stage">Stage</li>

        <li role="presentation"
            ng-repeat="stageInstance in pipelineConfig.stages">
          <a role="menuitem" tabindex="-1" href="#"
             ng-click="changeStageSelection({selectedObject: stageInstance, type: pipelineConstant.PIPELINE})">{{stageInstance.uiInfo.label}}</a>
        </li>
      </ul>
    </div>


    <div class="pull-right size-toolbar">
      <span class="fa fa-question-circle fa-14x pointer"
            ng-click="launchHelp(detailPaneConfig)"></span>
      <span class="glyphicon pointer"
            ng-hide="$storage.maximizeDetailPane"
            ng-class="{'glyphicon-minus' : !$storage.minimizeDetailPane , 'glyphicon-resize-full': $storage.minimizeDetailPane}"
            ng-click="onMinimizeDetailPane()"></span>
      <span class="glyphicon pointer"
            ng-hide="$storage.minimizeDetailPane"
            ng-class="{'glyphicon-fullscreen' : !$storage.maximizeDetailPane , 'glyphicon-resize-small': $storage.maximizeDetailPane}"
            ng-click="onMaximizeDetailPane()"></span>
    </div>

  </div>

  <div class="panel-body">
    <tabset class="detail-tabs-left tabs-left">
      <tab ng-repeat="tab in detailPaneTabs" active="tab.active" disabled="tab.disabled">
        <tab-heading>  <!--tooltip-placement="right" tooltip="{{tab.label}}" -->
          <i class="fa fa-exclamation-triangle icon-danger"
             ng-show="showWarning(tab)"></i>

          <i class="{{tab.iconClass}}"
             ng-hide="showWarning(tab)"></i>

          <span>{{'home.detailPane.' + tab.name | translate}}</span>
        </tab-heading>
        <div ng-include="tab.template"></div>
      </tab>
    </tabset>
  </div>
</div>


<ng-include src="'app/home/detail/fieldSelectorModal.tpl.html'"></ng-include>
<ng-include src="'app/home/detail/typeTemplate.tpl.html'"></ng-include>