<div class="panel panel-default detail-pane" ng-hide="previewMode" ng-controller="DetailController">

  <div class="panel-heading clearfix">
    <h3 class="panel-title pull-left">{{detailPaneConfig.uiInfo.label || pipelineConfig.info.name}}</h3>

    <div class="pull-right size-toolbar">
      <span class="glyphicon pointer"
            ng-hide="maximizeDetailPane"
            ng-class="{'glyphicon-minus' : !minimizeDetailPane , 'glyphicon-resize-full': minimizeDetailPane}"
            ng-click="onMinimizeDetailPane()"></span>
      <span class="glyphicon pointer"
            ng-hide="minimizeDetailPane"
            ng-class="{'glyphicon-fullscreen' : !maximizeDetailPane , 'glyphicon-resize-small': maximizeDetailPane}"
            ng-click="onMaximizeDetailPane()"></span>
    </div>

  </div>

  <div class="panel-body">
    <tabset class="tabbable tabs-left ">
      <tab ng-repeat="tab in detailPaneTabs" active="tab.active" disabled="tab.disabled">
        <tab-heading>
          <i class="glyphicon glyphicon-warning-sign icon-danger"
             ng-show="showWarning(tab)"></i> {{ 'admin.detailPane.' + tab.name | translate }}
        </tab-heading>
        <div ng-include="tab.template"></div>
      </tab>
    </tabset>
  </div>
</div>