.detail-pane {
  /*height: calc(~"100% - 11px");*/
  height: 100%;
  margin-bottom: 0;
  border-bottom: none;

  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;

  .panel-heading {
    padding: @smallPadding @smallPadding*3;
    .panel-title {
      padding-top: @smallPadding;
      padding-right: @smallPadding;
    }

    .detail-name-dropdown {
      .btn {
        padding-top: @smallPadding * .5;
        padding-bottom: 0;
        padding-left: @smallPadding * .5;
      }
    }

    .size-toolbar {
      span {
        padding-top: @smallPadding * 1.3;
        padding-left: @defaultPadding;

        &:hover {
          color: @brand-primary;
        }
      }
    }
  }

  .panel-body {
    padding: 0;
    height: calc(~"100% - 40px");
    overflow: auto;

    .info-form {
      .form-group {
        margin-bottom: 0;
      }
    }
  }
}


@import 'configuration/configuration.less';
@import 'badRecords/badRecords.less';
@import 'summary/summary.less';
@import 'history/history.less';
@import 'rawPreview/rawPreview.less';