<div class="pipeline-preview" ng-controller="PreviewCommonController">
  <tabset class="detail-tabs-left tabs-left">

    <tab active="true">
      <tab-heading>
        <i class="fa fa-list-ul"></i>
        {{ 'global.form.records' | translate }}
      </tab-heading>
      <div>

        <div show-loading="showLoading"></div>

        <table class="table" ng-hide="showLoading">
          <thead>
            <tr>
              <th class="col-md-6">
                <span class="glyphicon glyphicon-expand pointer"
                      ng-if="!expandAllInputData"
                      ng-click="onExpandAllInputData(stagePreviewData)"></span>
                <span class="glyphicon glyphicon-collapse-down pointer"
                      ng-if="expandAllInputData"
                      ng-click="onCollapseAllInputData(stagePreviewData)"></span>
                <span translate="home.previewPane.inputData">Input Data</span>
              </th>

              <th class="col-md-6">
                <span class="glyphicon glyphicon-expand pointer"
                      ng-if="!expandAllOutputData"
                      ng-click="onExpandAllOutputData(stagePreviewData)"></span>
                <span class="glyphicon glyphicon-collapse-down pointer"
                      ng-if="expandAllOutputData"
                      ng-click="onCollapseAllOutputData(stagePreviewData)"></span>
                <span translate="home.previewPane.outputData">Output Data</span>
              </th>


            </tr>
          </thead>
          <tbody ng-switch="detailPaneConfig.uiInfo.stageType">

            <tr ng-switch-when="SOURCE"
                ng-repeat="record in stagePreviewData.output">
              <td>

              </td>
              <td>
                <div class="pull-right delete-preview-record"
                     ng-if="previewMode"
                     ng-click="removeRecord(detailPaneConfig, stagePreviewData.output, record, $index)">
                  <i class="fa fa-trash"></i>
                </div>

                <record-tree
                  record="record"
                  record-value="record.value"
                  field-name="('global.form.record' | translate)+($index+1)"
                  is-root="true"
                  editable="previewMode">
                </record-tree>
             </td>
            </tr>

            <tr ng-switch-when="PROCESSOR"
                ng-repeat="record in stagePreviewData.input">
              <td>
                <record-tree
                  record="record"
                  record-value="record.value"
                  field-name="('global.form.record' | translate)+($index+1)"
                  is-root="true"
                  editable="previewMode">
                </record-tree>

              </td>
              <td>
                <div ng-repeat="record in outputRecords = getOutputRecords(stagePreviewData.output, record)">
                  <record-tree
                    record="record"
                    record-value="record.value"
                    field-name="('global.form.record' | translate)+($parent.$index+1) + '-' + ('global.form.outputRecord' | translate) +  ($index + 1) + getRecordAdditionalInfo(detailPaneConfig, record, 'output')"
                    is-root="true"
                    editable="false">
                  </record-tree>


                </div>

                <div ng-repeat="record in errorsRecords = getErrorRecords(stagePreviewData.errorRecords, record)">
                  <record-tree
                    record="record"
                    record-value="record.value"
                    field-name="('global.form.record' | translate)+($parent.$index+1) + '-' + ('global.form.errorRecord' | translate) + record.header.errorMessage"
                    is-root="true"
                    editable="false">
                  </record-tree>
                </div>

                <div ng-if="outputRecords.length === 0 && errorsRecords.length === 0">
                  <label class="label label-warning">{{'home.previewPane.noOutputWarning' | translate}}</label>
                </div>

              </td>
            </tr>

            <tr ng-switch-when="TARGET"
                ng-repeat="record in stagePreviewData.input">
              <td>
                <record-tree
                  record="record"
                  record-value="record.value"
                  field-name="('global.form.record' | translate)+($index+1)"
                  is-root="true"
                  editable="false">
                </record-tree>
              </td>
              <td>

              </td>
            </tr>

            <tr ng-if="stagePreviewData.input.length === 0 &&
                        stagePreviewData.output.length === 0 &&
                        stagePreviewData.errorRecords.length === 0">
              <td colspan="2" class="no-records" translate="home.previewPane.noRecords">No Records.</td>
            </tr>
          </tbody>

        </table>
      </div>
    </tab>

    <!--tab>
      <tab-heading>
         {{ 'global.form.metrics' | translate }}
      </tab-heading>
      <div>
      </div>
    </tab-->

    <tab ng-if="stagePreviewData.stageErrors && stagePreviewData.stageErrors.length">
      <tab-heading>
        <i class="fa fa-exclamation-triangle icon-danger"></i> {{ 'global.form.errors' | translate }}
      </tab-heading>
      <div>
        <table class="table table-hover">
          <caption>
            <label translate="global.form.errorMessages">Error Messages</label>
          </caption>
          <thead>
          <tr>
            <th class="col-md-3" translate="global.form.timestamp">Timestamp</th>
            <th class="col-md-2" translate="global.form.errorCode">Error Code</th>
            <th class="col-md-7" translate="global.form.errorMessage"> Error Message</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="errorMessage in stagePreviewData.stageErrors">
            <td>{{errorMessage.timestamp | date:'medium'}}</td>
            <td ng-bind="errorMessage.errorCode"> </td>
            <td ng-bind="errorMessage.localized"> </td>
          </tr>
          </tbody>
        </table>
      </div>
    </tab>

  </tabset>

</div>
