<form class="form-horizontal info-form" role="form" name="stageGeneralInfo">
  <div class="form-group">
    <label class="col-md-3 control-label" translate="home.detailPane.configurationTab.stageName">Stage Name</label>
    <div class="controls col-md-7">
      <p class="form-control-static">{{detailPaneConfigDefn.label}}</p>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-3 control-label" translate="home.detailPane.configurationTab.stageInstanceName">Stage Instance Name</label>
    <div class="controls col-md-7">
      <p class="form-control-static">{{detailPaneConfig.instanceName}}</p>
    </div>
  </div>

  <div class="form-group" ng-if="detailPaneConfigDefn.description">
    <label class="col-md-3 control-label" translate="home.detailPane.configurationTab.stageDescription">Description</label>
    <div class="controls col-md-7">
      <p class="form-control-static">{{detailPaneConfigDefn.description}}</p>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-3 control-label" translate="home.detailPane.configurationTab.stageType">Stage Type</label>
    <div class="controls col-md-7">
      <p class="form-control-static" ng-if="detailPaneConfigDefn.type === pipelineConstant.SOURCE_STAGE_TYPE"
         translate="global.form.source"></p>
      <p class="form-control-static" ng-if="detailPaneConfigDefn.type === pipelineConstant.PROCESSOR_STAGE_TYPE"
         translate="global.form.processor"></p>
      <p class="form-control-static" ng-if="detailPaneConfigDefn.type === pipelineConstant.EXECUTOR_STAGE_TYPE"
         translate="global.form.executor"></p>
      <p class="form-control-static" ng-if="detailPaneConfigDefn.type === pipelineConstant.TARGET_STAGE_TYPE"
         translate="global.form.target"></p>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-3 control-label" translate="home.detailPane.configurationTab.stageLibrary">Stage Library</label>
    <div class="controls col-md-7">
      <p class="form-control-static">{{getStageLibraryLabel(detailPaneConfig)}}</p>
    </div>
  </div>

</form>
