pipeline-graph {

  svg {
    &:focus {
      outline:none;
    }
  }

  .conceptG text{
    pointer-events: none;
  }

  .node-warning {
    position: static;
    padding: @defaultPadding/5;
    font-size: 22px;
    color: @brand-danger;
  }

  marker{
    fill: @default-pipeline-graph-fill-color;
  }

  g {
    &.conceptG {
      rect {
        fill: @default-pipeline-graph-fill-color;
        stroke: @default-pipeline-graph-stroke-color;
        stroke-width: 2px;
      }

      circle {
        fill: #ffffff;
        stroke: @default-pipeline-graph-stroke-color;
        stroke-width: 2px;
      }

      &:hover {
        rect {
          fill: @default-pipeline-graph-selection-color;
          stroke: @default-pipeline-graph-selection-color;
          opacity: 0.75;
        }

        circle {
          stroke: @default-pipeline-graph-selection-color;
        }

        text {
          fill: #ffffff;
        }
        
        image {
          fill: #ffffff;
        }

        .node-warning {
          color: #ffffff;
        }
      }
    }

    &.selected {
      rect {
        fill: @default-pipeline-graph-selection-color;
        stroke: @default-pipeline-graph-selection-color;
      }

      circle {
        stroke: @default-pipeline-graph-selection-color;
      }

      text {
        fill: #ffffff;
      }

      image {
        fill: #ffffff;
      }

      .node-warning {
        color: #ffffff;
      }

      &:hover {
        rect {
          fill: @default-pipeline-graph-selection-color;
          stroke: @default-pipeline-graph-selection-color;
          opacity: 1;
        }
      }
    }

    &.connect-node {
      rect{
        fill: @default-pipeline-graph-selection-color;
        stroke: @default-pipeline-graph-selection-color;
        opacity: 0.75;
      }
    }
  }

  path {
    &.link {
      fill: none;
      stroke: @default-pipeline-graph-fill-color;
      stroke-width: 6px;
      cursor: default;

      &:hover {
        stroke: @default-pipeline-graph-selection-color;
      }

      &.hidden {
        stroke-width: 0;
      }

      &.selected {
        stroke: @default-pipeline-graph-selection-color;
      }
    }
  }

  .axis line {
    fill: none;
    stroke: #EFEFEF;
    shape-rendering: crispEdges;
    vector-effect: non-scaling-stroke;
  }

}
