<div class="panel panel-default graph-pane"
     ng-controller="GraphController">

  <div class="panel-body" droppable drop="stageDrop">

    <div ng-repeat="issues in pipelineConfig.issues.pipelineIssues">

      <div class="alert alert-dismissible alert-danger" role="alert"
           ng-if="issues.message.indexOf('VALIDATION_0001') === -1">
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        {{issues.message}}
      </div>

      <div class="alert alert-dismissible alert-warning alert-select-stage" role="alert"
           ng-if="issues.message.indexOf('VALIDATION_0001') !== -1 && !common.dontShowHelpAlert && !$storage.dontShowHelpAlert">

        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>

        <span  class="validation-message">{{issues.message}}</span>

        <select class="form-control" name="newPipelineSource"
            ng-options="(stage.label + ' - ' +  stage.libraryLabel) for stage in sources"
            ng-model="selectedSource.selected"
            ng-change="onSelectSourceChange()">
          <option value="">
            {{'home.library.sourcePlaceholder' | translate}}
          </option>
        </select>

        <div class="pull-right checkbox dont-show-again">
          <label>
            <input type="checkbox" name="dontShowHelpAgain"
                   ng-model="$storage.dontShowHelpAlert">  {{'home.graphPane.dontShowAgain' | translate}}
          </label>
        </div>
      </div>

    </div>


    <div class="alert alert-dismissible alert-warning alert-select-stage" role="alert"
         ng-if="firstOpenLane.stageInstance && common.errors.length === 0">

      <button type="button" class="close" ng-click="firstOpenLane.stageInstance = undefined">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
      </button>

      <span class="validation-message">{{firstOpenLane.stageInstance.uiInfo.label}} has open lane {{(firstOpenLane.stageInstance.outputLanes.length > 1) ? ': lane ' + (firstOpenLane.laneIndex + 1) : ''}}</span>


        <select class="form-control" name="newPipelineProcessor"
                ng-options="(stage.label + ' - ' +  stage.libraryLabel) for stage in processors.concat(selectorProcessors)"
                ng-model="connectStage.selected"
                ng-change="onConnectStageChange()">
          <option value="">
            {{'home.graphPane.selectProcessor' | translate}}
          </option>
        </select>

        <span class="pull-left123"> Or </span>

        <select class="form-control" name="newPipelineTarget"
                ng-options="(stage.label + ' - ' +  stage.libraryLabel) for stage in targets"
                ng-model="connectStage.selected"
                ng-change="onConnectStageChange()">
          <option value="">
            {{'home.graphPane.selectTarget' | translate}}
          </option>
        </select>


      <div class="pull-right checkbox dont-show-again">
        <label>
          <input type="checkbox" name="dontShowHelpAgain"
                 ng-model="$storage.dontShowHelpAlert">  {{'home.graphPane.dontShowAgain' | translate}}
        </label>
      </div>

    </div>

    <ng-include src="'errorAlertContent.html'"></ng-include>

    <pipeline-graph ng-show="pipelineConfig" graph-value="pipelineConfig" ></pipeline-graph>

  </div>
</div>