<div class="panel panel-default graph-pane"
     ng-controller="GraphController">

  <div class="panel-body" droppable drop="stageDrop">

    <div ng-if="!isPipelineReadOnly && !$storage.maximizeDetailPane"
      ng-repeat="issues in pipelineConfig.issues.pipelineIssues">

      <div class="alert alert-dismissible alert-warning alert-select-stage" role="alert"
           ng-if="issues.message.indexOf('VALIDATION_0001') !== -1 && !$storage.dontShowHelpAlert">

        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>

        <span  class="validation-message">{{issues.message}}</span>

        <select class="form-control" name="newPipelineSource"
            ng-options="(stage.label + ' - ' +  stage.libraryLabel) for stage in sources"
            ng-model="selectedSource.selected"
            ng-change="onSelectSourceChange()">
          <option value="">
            {{'home.library.sourcePlaceholder' | translate}}
          </option>
        </select>

        <div class="pull-right checkbox dont-show-again">
          <label>
            <input type="checkbox" name="dontShowHelpAgain"
                   ng-model="$storage.dontShowHelpAlert">  {{'home.graphPane.dontShowAgain' | translate}}
          </label>
        </div>
      </div>

    </div>


    <div class="alert alert-dismissible alert-warning alert-select-stage" role="alert"
         ng-if="!isPipelineReadOnly && pipelineConfig && firstOpenLane.stageInstance && common.errors.length === 0 && !previewMode && !$storage.maximizeDetailPane">

      <button type="button" class="close" ng-click="firstOpenLane.stageInstance = undefined">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
      </button>

      <span class="validation-message">{{firstOpenLane.stageInstance.uiInfo.label}} has open stream {{(firstOpenLane.stageInstance.outputLanes.length > 1) ? ': stream ' + (firstOpenLane.laneIndex + 1) : ''}}</span>


        <select class="form-control" name="newPipelineProcessor"
                ng-options="(stage.label + ' - ' +  stage.libraryLabel) for stage in processors"
                ng-model="connectStage.selected"
                ng-change="onConnectStageChange()">
          <option value="">
            {{'home.graphPane.selectProcessor' | translate}}
          </option>
        </select>

        <span class="pull-left123"> Or </span>

        <select class="form-control" name="newPipelineTarget"
                ng-options="(stage.label + ' - ' +  stage.libraryLabel) for stage in targets"
                ng-model="connectStage.selected"
                ng-change="onConnectStageChange()">
          <option value="">
            {{'home.graphPane.selectTarget' | translate}}
          </option>
        </select>


      <div class="pull-right checkbox dont-show-again">
        <label>
          <input type="checkbox" name="dontShowHelpAgain"
                 ng-model="$storage.dontShowHelpAlert">  {{'home.graphPane.dontShowAgain' | translate}}
        </label>
      </div>

    </div>

    <ng-include src="'app/home/alerts/error/errorAlert.tpl.html'" ng-if="!$storage.maximizeDetailPane"></ng-include>
    <ng-include src="'app/home/alerts/info/infoAlert.tpl.html'" ng-if="!$storage.maximizeDetailPane"></ng-include>
    <ng-include src="'app/home/alerts/success/successAlert.tpl.html'" ng-if="!$storage.maximizeDetailPane"></ng-include>

    <pipeline-graph ng-show="pipelineConfig" graph-value="pipelineConfig" ></pipeline-graph>

  </div>
</div>