.graph-pane {
  margin-top: 60px;
  height: 100%;

  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;


  .panel-heading {
    height: 45px;
    padding: @smallPadding @smallPadding*3;

    button {
      margin-top: 2px;
    }

    .navbar-toggle {
      display: block;
      float: left;
      margin-top: 0;
      margin-bottom: 0;

      &:hover{
        background-color: #ddd;
      }

      .icon-bar {
        background-color: #888;
      }

      &.selected {
        .icon-bar {
          background-color: #2BB8E9;
        }
      }
    }

    .panel-title {

      h3 {
        padding-top: @smallPadding;
        margin: 0;
        font-size: 20px;
        padding-right: @defaultPadding;
      }

      i {
        padding-top: @smallPadding*.5;
        margin-left: @defaultPadding;

        &.green-color {
          color: @brand-success;
        }

        &.red-color {
          color: @brand-danger;
        }

      }
    }

    .issues-dropdown {

      li {
        a {
          white-space: normal;
          width: 400px;
        }

        &.dropdown-header {
          text-transform: capitalize;
        }
      }

      .badge {
        color: #d9534f;
        background-color: #fff;
      }
    }

    .btn {
      margin-left: @defaultPadding;
    }

    .stage-dropdown {
      padding-right: @smallPadding;
    }

    .pipelineAgent-status {
      padding: @defaultPadding @defaultPadding*2;
      color: #ACACAC;
      font-size: 12px;
    }

  }

  .panel-body {
    padding: 0;
    height: calc(~"100% - 104px");
    overflow: auto;

    .alert {
      margin-bottom: 0;
      border-radius: 0;

      &.alert-select-stage {
        position: absolute;
        margin: 200px 0 0 35%;
        width: 520px;

        .validation-message {
          display: block;
          padding-bottom: @defaultPadding;
        }

        .validation-options {
          select {
            width: 215px;
          }

          span {
            padding: @smallPadding @defaultPadding;
          }
        }

        .dont-show-again {
          margin-top: 2 * @defaultPadding;
          margin-bottom: 0;
        }

      }
    }

    .draggable {
      cursor: pointer;
    }
  }
}