/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Grunt configuration that is automatically processed.
 */

/**
 * This is our main variables file. We must include it last so we can overwrite any variable
 * definitions in our imported stylesheets.
 */

@import 'variables.less';


/**
 * Main Body
 */

body {
  padding-top: 60px;

  .navbar-fixed-top {
    height: 60px;

    .logo {
      padding: 0 20px;

      img {
        width: 240px;
        margin-top: -19px;
      }
    }

    .navbar-nav {
      li {
        a {
          padding-top: 20px;
          padding-bottom: 20px;
        }
      }
    }
  }

}


/**
 * Now that all app-wide styles have been applied, we can load the styles for
 * all the submodules and components we are using.
 *
 * TODO: Automate adding app specific LESS files.
 */

@import '../app/home/home.less';
@import '../app/directives/splitter/splitter.less';
@import '../app/directives/tabs/tabs.less';
@import '../app/directives/pipelineGraph/pipelineGraph.less';