/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Grunt configuration that is automatically processed.
 */

/**
 * This is our main variables file. We must include it last so we can overwrite any variable
 * definitions in our imported stylesheets.
 */

@import 'variables.less';


/**
 * Main Body
 */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide:not(.ng-hide-animate) {
  display: none !important;
}

ng\:form {
  display: block;
}
body {
  //padding-top: 60px;

  .navbar-fixed-top {
    height: 60px;

    .logo {
      padding: 0 20px;

      img {
        width: 240px;
        margin-top: -19px;
      }
    }

    .navbar-nav {
      padding-right: 2 * @defaultPadding;
      li {
        a {
          padding-top: 20px;
          padding-bottom: 20px;
        }

        &:not(:first-child):after {
          position: absolute;
          left: -3px;
          top: 22px;
          background-color: rgba(243, 244, 239, 0.2);
          width: 2px;
          height: 16px;
          content: '';
          border-right: solid 1px #d6d7d3;
        }
      }

      .pipelineAgent-status {
        padding: @defaultPadding * 2.5 @defaultPadding * 4  @defaultPadding*2 @defaultPadding;
        color: #ACACAC;
        font-size: 12px;
      }
    }
  }

  .icon-danger {
   color: @brand-danger;
  }

  .icon-success {
    color: @brand-success;
  }

  .pointer {
    cursor: pointer;
  }

}

/**
 * Now that all app-wide styles have been applied, we can load the styles for
 * all the submodules and components we are using.
 *
 * TODO: Automate adding app specific LESS files.
 */

@import '../app/home/home.less';
@import '../app/directives/splitter/splitter.less';
@import '../app/directives/tabs/tabs.less';
@import '../app/directives/pipelineGraph/pipelineGraph.less';
@import '../app/directives/jsonFormatter/json-formatter.less';
@import '../app/directives/ng-tags-input/ng-tags-input.less';
@import '../app/directives/ng-tags-input/ng-tags-input.bootstrap.less';