/**
 * These are the variables used throughout the application. This is where
 * overwrites that are not specific to components should be maintained.
 */

@smallPadding:          5px;
@defaultPadding:        10px;
@largePadding:          20px;

