<div class="panel panel-default metric-alert-rules-tab" ng-controller="MetricAlertRulesController">
  <div class="panel-heading clearfix">
    <span translate="home.detailPane.rulesTab.metricAlertRules">Metric Alert Rules</span>

    <button type="button" class="btn btn-primary btn-sm pull-right"
            ng-click="createMetricAlertRule()">
      <i class="fa fa-plus"></i> {{'global.form.add' | translate}}
    </button>
  </div>
  <div class="panel-body">
    <form class="form-horizontal" role="form"
          ng-class="{'form-group-sm': ($storage.displayDensity === pipelineConstant.DENSITY_COZY || $storage.displayDensity === pipelineConstant.DENSITY_COMPACT)}"
          name="{{detailPaneConfig.instanceName || 'pipeline'}}">

      <table class="table">
        <thead>
          <tr>
            <th class="expand-col">
              <span class="pointer toggler {{expandAll ? 'open' : ''}}"
                      ng-click="expandAll = !expandAll"></span>
            </th>
            <th class="alert-text-col">{{'home.detailPane.rulesTab.alertText' | translate}}</th>
            <th class="id-col">{{'home.detailPane.rulesTab.metricID' | translate}}</th>
            <th class="condition-col">{{'home.detailPane.rulesTab.condition' | translate}}</th>
            <th class="condition-col">{{'home.detailPane.rulesTab.sendEmail' | translate}}</th>
            <th class="enabled-col">{{'home.detailPane.rulesTab.enabled' | translate}}</th>
            <th class="actions-col">{{'global.form.actions' | translate}}</th>
          </tr>
        </thead>
        <tbody ng-hide="showLoading">

        <tr ng-repeat-start="alertRule in metricsRuleDefinitions = (pipelineRules.metricsRuleDefinitions) track by $index"
            ng-class="alertRule.valid ? '' : 'invalid-rule'">

          <td>
            <span class="pointer toggler {{isOpen || expandAll ? 'open' : ''}}"
                  ng-click="isOpen = !isOpen"></span>
          </td>

          <td>
            {{alertRule.alertText}}
          </td>

          <td>
            {{getMetricIdLabel(alertRule)}}
          </td>

          <td class="expression-language">
            {{alertRule.condition}}
          </td>

          <td>
            <input type="checkbox" name="sendEmail{{$index}}"
                   ng-disabled="!alertRule.valid"
                   ng-model="alertRule.sendEmail">
          </td>

          <td>
            <input type="checkbox" name="enabled{{$index}}"
                   ng-disabled="!alertRule.valid"
                   ng-model="alertRule.enabled">
          </td>

          <td>
            <div ng-show="!alertRule.enabled">
              <a href="javascript:;" ng-click="editMetricAlertDataRule(alertRule, $index)">Edit</a>
              &nbsp;|&nbsp;
              <a href="javascript:;" ng-click="removeRule(pipelineRules.metricsRuleDefinitions, $index)">Delete</a>
            </div>
          </td>

        </tr>


        <tr ng-repeat-end ng-if="isOpen || expandAll" class="expand-row" ng-class="alertRule.valid ? '' : 'invalid-rule'">
          <td colspan="8">
            <ul class="properties">

              <li>
                <span class="properties-label">
                  {{'home.detailPane.rulesTab.metricType' | translate}}:
                </span>
                <span class="properties-value">
                  {{alertRule.metricType}}
                </span>
              </li>

              <li>
                <span class="properties-label">
                  {{'home.detailPane.rulesTab.metricElement' | translate}}:
                </span>
                <span class="properties-value">
                  {{getMetricElementLabel(alertRule)}}
                </span>
              </li>

              <li ng-show="ruleIssues.length">
                <span class="properties-label">
                  {{'home.detailPane.rulesTab.issues' | translate}}:
                </span>
                <span class="properties-value">
                  <span ng-repeat="ruleIssue in ruleIssues = (pipelineRules.ruleIssues | filter: {ruleId: alertRule.id})">
                    {{ruleIssue.message}}
                  </span>
                </span>
              </li>

            </ul>
          </td>
        </tr>

        <tr ng-if="metricsRuleDefinitions.length === 0">
          <td colspan="3" class="no-records text-center"
              translate="home.detailPane.rulesTab.noMetricAlertRules">No Metric Alert Rules to view.</td>
        </tr>

        </tbody>
      </table>

      <div show-loading="showLoading"></div>

    </form>

  </div>
</div>