<div class="panel panel-default">
  <div class="panel-heading" translate="home.detailPane.rulesTab.metricAlertRules">Metric Alert Rules</div>
  <div class="panel-body metric-alert-tab">
    <form class="form-horizontal" role="form"
          ng-class="{'form-group-sm': ($storage.displayDensity === pipelineConstant.DENSITY_COZY || $storage.displayDensity === pipelineConstant.DENSITY_COMPACT)}"
          name="{{detailPaneConfig.instanceName || 'pipeline'}}">

      <button type="button" class="btn btn-primary btn-sm add-button"
              ng-click="createMetricAlertRule()">
        <i class="fa fa-plus"></i> {{'global.form.add' | translate}}
      </button>

      <table class="table">
        <thead>
        <tr>
          <th class="col-md-1">{{'home.detailPane.rulesTab.enabled' | translate}}</th>
          <th class="col-md-3">{{'home.detailPane.rulesTab.alertText' | translate}}</th>
          <th class="col-md-1">{{'home.detailPane.rulesTab.metricType' | translate}}</th>
          <th class="col-md-3">{{'home.detailPane.rulesTab.metricID' | translate}}</th>
          <th class="col-md-1">{{'home.detailPane.rulesTab.metricElement' | translate}}</th>
          <th class="col-md-2">{{'home.detailPane.rulesTab.condition' | translate}}</th>
          <th></th>
        </tr>
        </thead>
        <tbody ng-hide="showLoading">

        <tr ng-repeat="alertRule in metricsAlertDefinitions = (pipelineRules.metricsAlertDefinitions | filter: {lane: selectedObject.outputLane})">

          <td>
            <input type="checkbox" name="enabled{{$index}}"
                   ng-model="alertRule.enabled">
          </td>

          <td>
            <textarea class="form-control" name="alertText{{$index}}" rows="1"
                    placeholder="{{'home.detailPane.rulesTab.alertTextPlaceholder' | translate}}"
                    ng-model="alertRule.label"
                    ng-required="true"></textarea>
          </td>

          <td>
            <select class="form-control" name="metricType{{$index}}"
                    ng-model="alertRule.metricType">
              <option value="COUNTER">{{'home.detailPane.rulesTab.counter' | translate}}</option>
              <option value="HISTOGRAM">{{'home.detailPane.rulesTab.histogram' | translate}}</option>
              <option value="METER">{{'home.detailPane.rulesTab.meter' | translate}}</option>
              <option value="TIMER">{{'home.detailPane.rulesTab.timer' | translate}}</option>
            </select>
          </td>

          <td>
            <select class="form-control" name="metricId{{$index}}"
                    ng-model="alertRule.metricId"
                    ng-options="obj.value as obj.label for obj in metricIDList[alertRule.metricType]">
            </select>
          </td>

          <td>
            <select class="form-control" name="metricElement{{$index}}"
                    ng-model="alertRule.metricElement"
                    ng-options="obj.value as obj.label for obj in metricElementList[alertRule.metricType]">
            </select>
          </td>

          <td class="expression-language">
            <input type="text" class="form-control" name="predicate{{$index}}"
                   placeholder="{{'home.detailPane.rulesTab.condition' | translate}}"
                   ng-model="alertRule.predicate"
                   ng-required="true">
          </td>

          <td>
            <div class="col-xs-1 btn-group" role="group" aria-label="Default button group">
              <button type="button" class="btn btn-danger btn-sm"
                      tooltip-placement="bottom" tooltip="{{'home.detailPane.rulesTab.deleteRuleTooltip' | translate}}"
                      ng-click="removeRule(pipelineRules.metricsAlertDefinitions, $index)">
                <i class="fa fa-minus pointer"></i>
              </button>
            </div>
          </td>

        </tr>

        <tr ng-if="metricsAlertDefinitions.length === 0">
          <td colspan="3" class="no-records text-center"
              translate="home.detailPane.rulesTab.noMetricAlertRules">No Metric Alert Rules to view.</td>
        </tr>

        </tbody>
      </table>

      <div show-loading="showLoading"></div>

    </form>

  </div>
</div>