<div class="panel panel-default page-panel jvm-metrics-page">

  <div class="panel-heading clearfix">
    <div class="panel-title">
      <h3 translate="jvmMetrics.title">JVM Metrics</h3>
    </div>
  </div>

  <div class="panel-body"  ng-style="{'height': (windowHeight - 60 - 51) + 'px', 'width': (windowWidth) + 'px'}" resize>
    <div class="row">
      <div class="col-sm-4" ng-repeat="chart in chartList">
        <div class="panel panel-default">
          <div class="panel-heading">{{chart.label}}</div>
          <div class="panel-body">
            <nvd3-line-chart
              objectequality="true"
              data="chart.values"
              id="{{chart.name}}id"
              height="200"
              isArea="false"
              xAxisTickFormat="chart.xAxisTickFormat"
              yAxisTickFormat="chart.yAxisTickFormat"
              showXAxis="true"
              showYAxis="true"
              showLegend="true"
              tooltips="true"
              margin="{left:50,top:20,bottom:40,right:40}">
              <svg></svg>
            </nvd3-line-chart>

            <ul class="properties">
              <li ng-repeat="value in chart.values">
                <span class="properties-label"> {{value.key}}:</span>
                <span class="properties-value">{{formatValue(value.values[value.values.length - 1][1], chart)}}</span>
              </li>

              <li ng-repeat="value in chart.displayProperties">
                <span class="properties-label"> {{value.key}}:</span>
                <span class="properties-value">{{formatValue(value.value, chart)}}</span>
              </li>
            </ul>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>